<div class="grid grid-cols-1 gap-4">
  <!-- Encabezado -->
  <div class="bg-gray-50 shadow !rounded-[30px] p-4">
    <div class="flex justify-between items-center">
      <div class="mr-2 ml-2">
        <app-title-sat />
      </div>
      <div class="flex gap-2">
        <button
          pButton
          type="button"
          (click)="managedDownload()"
          class="
          bg-cuaternario
          !text-black
          hover:bg-accent-7
          hover:!text-white
          !rounded-full
          transition-all
          duration-200
          flex
          items-center
          gap-2
          px-4
          py-2"
            >
              <iconify-icon
                icon="material-symbols:download-sharp"
                class="text-lg text-inherit"
              ></iconify-icon>

              <span class="font-medium">
                Descargar Gestionado
              </span>
        </button>

        <button
          pButton
          type="button"
          (click)="addNew()"
          class="
          bg-cuaternario
          !text-black
          hover:bg-accent-7
          hover:!text-white
          !rounded-full
          transition-all
          duration-200
          flex
          items-center
          gap-2
          px-4
          py-2"
            >
              <iconify-icon
                icon="mdi:plus-circle-outline"
                class="text-lg text-inherit"
              ></iconify-icon>

              <span class="font-medium">
                Nueva Cartera
              </span>
        </button>
      </div>
    </div>
  </div>

  <!-- Barra de progreso -->
  <ng-container *ngIf="mostrarMessage">
    <p-card>
      <div class="grid grid-cols-1 gap-1">
        <h3 class="text-lg font-semibold">
          Progreso de carga: {{ portfolioName }} ({{
            processed / total | percent
          }})
          <span class="italic text-sm font-light">
            @if (remainingSeconds) { Tiempo restante
            <span class="font-bold">{{
              remainingSeconds | timeRemaining
            }}</span>
            aproximadamente } @else { Calculando tiempo restante... }
          </span>
        </h3>
        <p class="text-sm italic">Cargando: {{ processed }}/{{ total }}</p>
        <div class="flex items-center gap-4">
          <!-- {{ (processed / total) * 100 }} -->
          <p-progressBar
            [value]="percentValue"
            [showValue]="true"
            unit="%"
            styleClass="w-full"
            class="w-full"
          ></p-progressBar>
          <btn-custom
            severity="danger"
            [text]="false"
            label="Cancelar"
            [loading]="cancelLoading"
            (click)="cancelProgress()"
          />
        </div>
      </div>
    </p-card>
  </ng-container>

  <!-- Tabla -->
  <section class="h-[calc(100vh-17rem)] overflow-y-auto !rounded-[30px]">
    <complete-table
      [cols]="cols"
      [orderBy]="orderBy"
      [dataTable]="listPortfolios"
      [total]="totalItems"
      [limit]="limit()"
      [offset]="offset()"
      (actionClicked)="onTableAction($event)"
      (searchChange)="searchChange($event)"
    />
  </section>
  <!-- <p-table
        [value]="listPortfolios"
        [responsiveLayout]="'scroll'"
        sortMode="multiple"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              <div class="flex items-center text-xs uppercase gap-4">
                Nombre <p-sortIcon field="name" />
              </div>
            </th>
            <th pSortableColumn="description">
              <div class="flex items-center text-xs uppercase gap-4">
                Descripción <p-sortIcon field="description" />
              </div>
            </th>
            <th pSortableColumn="createdByUser.name">
              <div class="flex items-center text-xs uppercase gap-4">
                Creado por <p-sortIcon field="createdByUser.name" />
              </div>
            </th>
            <th pSortableColumn="dateStart">
              <div
                class="flex justify-center items-center text-xs uppercase gap-4"
              >
                Fecha inicio <p-sortIcon field="dateStart" />
              </div>
            </th>
            <th pSortableColumn="dateEnd">
              <div
                class="flex justify-center items-center text-xs uppercase gap-4"
              >
                Fecha fin <p-sortIcon field="dateEnd" />
              </div>
            </th>
            <th>
              <div
                class="flex justify-center items-center text-xs uppercase gap-4"
              >
                Estado
              </div>
            </th>
            <th class="items-center" pSortableColumn="amount">
              <div
                class="flex justify-center items-center text-xs uppercase gap-4"
              >
                Registros <p-sortIcon field="amount" />
              </div>
            </th>
            <th class="items-center">
              <div
                class="flex justify-center items-center text-xs uppercase gap-4"
              ></div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p class="text-sm font-light">{{ item.name }}</p>
            </td>
            <td>
              <p class="text-sm font-light">{{ item.description }}</p>
            </td>
            <td>
              <p class="text-sm font-light">
                {{ item.createdByUser?.name }}
              </p>
            </td>
            <td>
              <p class="text-sm font-light text-center">
                {{ item.dateStart | date : "dd/MM/yyyy" }}
              </p>
            </td>
            <td>
              <p class="text-sm font-light text-center">
                {{ item.dateEnd | date : "dd/MM/yyyy" }}
              </p>
            </td>
            <td>
              <div class="flex justify-center items-center">
                <p-tag
                  [value]="!item.status ? ' Finalizado' : 'Activo'"
                  [severity]="!item.status ? 'warn' : 'success'"
                />
              </div>
            </td>
            <td>
              <p class="text-sm font-light text-center">
                {{ item.amount | number : "1.0-0" }}
              </p>
            </td>

            <td class="w-28">
              <div class="flex justify-center items-center gap-1">
                <button-edit (click)="edit(item)" [disabled]="!item.status" />
                <button-manage
                  (click)="verDetalle(item)"
                  [disabled]="!item.status"
                />
                <button-statu
                  (click)="editarEstadoPortfolio(item)"
                  [disabled]="!item.status"
                />
                <btn-delete (click)="remove(item)" [disabled]="!item.status" />
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100">
              <div class="text-center text-sm font-light p-4">
                No se encontraron asesores de Aló Sat.
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #footer>
          <tr>
            <td colspan="100">
              <div class="flex justify-center items-center">
                <sat-paginator
                  [totalItems]="totalItems"
                  [limit]="limit()"
                  [offset]="offset()"
                  (pageChange)="onPageChange($event)"
                />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table> -->
</div>
