<div class="rounded-[30px] shadow-2xl space-y-8 reveal">
  <form (ngSubmit)="submitForm()" class="w-full grid grid-cols-1 gap-2">
    <!-- Paso 1: Campaña -->
    <p-fieldset 
      legend="Información básica" 
    >
      <div class="reveal">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
          <div class="mb-4">
            <label class="block text-sm font-bold text-gray-700 mb-2"
              >Campaña <span class="text-xs">*</span></label
            >
            <p-select
              [options]="listCampaignVicidial"
              optionLabel="campaign_name"
              [(ngModel)]="selectedCampaign"
              name="selectedCampaign"
              optionValue="campaign_id"
              placeholder="Selecciona un campaña"
              class="w-full !rounded-[30px] bg-cuaternario shadow-sm hover:shadow-md transition-shadow duration-300 focus:ring-gray-300"
              appendTo="body"
              [filter]="true"
              [showClear]="true"
              filterPlaceholder="Buscar Campaña..."
              (onChange)="onCampaignChange($event)"
            ></p-select>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-bold text-gray-700 mb-2"
              >Área <span class="text-xs">*</span></label
            >
            <p-select
              [options]="departmentList"
              [(ngModel)]="selectedArea"
              name="selectedArea"
              optionLabel="name"
              optionValue="id"
              placeholder="Selecciona área..."
              [filter]="true"
              styleClass="w-full !rounded-[30px] focus:ring-gray-300 bg-cuaternario"
              [showClear]="true"
              appendTo="body"
            ></p-select>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="reveal mb-4" style="animation-delay: 0.4s">
            <label class="block text-sm font-bold text-gray-700 mb-2"
              >ID Lista <span class="text-xs">*</span></label
            >
            <input
              type="number"
              pInputText
              [(ngModel)]="listId"
              name="listId"
              placeholder="Ingresa el ID de la lista"
              class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
            />
          </div>

          <div class="reveal mb-4" style="animation-delay: 0.6s">
            <label class="block text-sm font-bold text-gray-700 mb-2"
              >Nombre Lista <span class="text-xs">*</span></label
            >
            <input
              pInputText
              [(ngModel)]="name"
              name="name"
              placeholder="Nombre del mensaje"
              class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
            />
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4">
          <div class="reveal mb-2" style="animation-delay: 0.7s">
            <label class="block text-sm font-bold text-gray-700 mb-2"
              >Descripción Lista</label
            >
            <input
              pInputText
              [(ngModel)]="description"
              name="description"
              rows="3"
              placeholder="Describe el propósito..."
              class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
            />
          </div>
        </div>
      </div>
    </p-fieldset>

    <!-- Paso 2: Upload Excel -->
    <p-fieldset legend="Carga de datos">
      <div class="reveal" style="animation-delay: 0.2s">
        <label class="block text-sm font-bold mb-2 text-black"
          >Sube tu Excel (para variables)</label
        >
        <p-fileUpload
          #fileUpload
          chooseLabel="Seleccionar Excel"
          uploadLabel="Subir"
          cancelLabel="Cancelar"
          [maxFileSize]="10000000"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          [showUploadButton]="false"
          [showCancelButton]="false"
          (onSelect)="onFileUpload($event)"
          *ngIf="!loading"
          chooseStyleClass="
            !rounded-full
            !text-sm
            !h-10
            min-w-72
            bg-cuaternario
            !border
            !border-transparent
            focus:!border-[#dad9dd]
            transition-all
            duration-200
            !text-black
          "
        >
          <ng-template pTemplate="content">
            <div
              class="border-2 border-dashed border-gray-300 transition-all duration-300 rounded-2xl bg-gray-50 hover:bg-[#ECEBF0] p-10 text-center"
            >
              <i class="pi pi-file-excel text-4xl text-blue-500 mb-2"></i>
              <p class="text-gray-600">Arrastra tu archivo Excel aquí.</p>
            </div>
            <div *ngIf="selectedFile" class="flex items-center justify-between bg-green-50 border border-green-300 rounded-xl p-4">
                <div class="flex items-center space-x-3">
                  <i class="pi pi-file-excel text-2xl text-green-600"></i>
                  <div>
                    <p class="font-medium text-gray-800">{{ selectedFile.name }}</p>
                    <p class="text-xs text-gray-500">
                      Tamaño: {{ (selectedFile.size / 1024 / 1024) | number:'1.2-2' }} MB
                    </p>
                  </div>
                </div>
                <button
                 
                  class="flex items-center gap-1 px-3 py-1.5 text-sm text-white bg-red-600 hover:bg-red-700 rounded shadow"
                  (click)="clearFile(fileUpload)"
                  type="button"
                  aria-label="Eliminar archivo"
                ><iconify-icon [icon]="'lucide:file-x'" class="text-lg" />
                Eliminar</button>
              </div>
          </ng-template>
        </p-fileUpload>

        <p-fieldset legend="Contenido de Audio" *ngIf="excelHeaders.length > 0">
          <div class="grid grid-cols-2 gap-4">
            <!-- Contactos -->
            <div>
              <label for="idContacto" class="block text-sm font-medium mb-1"
                >Variables <span class="text-xs">*</span></label
              >
              <p-select
                [options]="excelHeaders"
                [(ngModel)]="variable"
                name="variable"
                placeholder="Seleccionar Variable"
                class="w-full mb-2"
                appendTo="body"
                (onChange)="insertVariable($event)"
              ></p-select>
            </div>

            <div>
              <label for="idContacto" class="block text-sm font-medium mb-1"
                >Contactos de Destino <span class="text-xs">*</span></label
              >
              <p-select
                [options]="excelHeaders"
                [(ngModel)]="contact"
                name="contact"
                placeholder="Seleccionar Contacto"
                class="w-full mb-2"
                appendTo="body"
              ></p-select>
              <div class="text-xs text-blue-500 text-right">
                Seleccionar la columna que contenga los números móviles
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4">
            <!-- Mensaje -->
            <div>
              <label for="mensaje" class="block text-sm font-medium mb-1"
                >Mensaje <span class="text-xs">*</span></label
              >
              <textarea
                id="mensaje"
                rows="3"
                [(ngModel)]="messageText"
                name="messageText"
                placeholder="Ingrese el mensaje de texto"
                #mensajeInput
                (input)="charCount = mensajeInput.value.length"
                class="w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 text-base p-2 resize-none"
              ></textarea>
              <div class="text-xs text-blue-500 text-right">
                {{ charCount || 0 }} Caracteres
              </div>
            </div>
          </div>
        </p-fieldset>
      </div>
    </p-fieldset>

    <!-- Submit Button -->
    <div class="pt-4 flex justify-end space-x-2">
      <button-cancel (click)="onCancel()" />
      <!-- <p-button
        (click)="submitForm()"
        size="small"
        styleClass="w-full"
        severity="primary"
      >
        <iconify-icon [icon]="'ci:save'" class="text-xl" />
        Guardar
      </p-button> -->
      <button
        pButton
        type="button"
        (click)="submitForm()"
        class="
      bg-cuaternario
      !text-black
      hover:bg-accent-7
      hover:!text-white
        !rounded-full
        transition-all
        duration-200
        flex
        items-center
        gap-2
        px-4
        py-2
        ">
          <iconify-icon
            icon="mdi:plus-circle-outline"
            class="text-lg text-inherit"
          ></iconify-icon>

          <span class="font-medium">
            Guardar
          </span>
      </button>
    </div>
  </form>
</div>
