<form [formGroup]="formData" class="grid grid-cols-1 gap-2">
  <h5 class="font-bold text-xl">Canal de WhatsApp</h5>
  <p class="font-normal text-sm text-gray-600 mb-4">
    Comience a apoyar a sus clientes mediante WhatsApp.
  </p>

  <div class="w-full space-y-4">
    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1">Nombre de la bandeja de entrada</label>
      <input
        type="text"
        pInputText
        placeholder="Por favor, introduzca un nombre de bandeja de entrada"
        formControlName="name"
        class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
      />
    </div>

    <div >
      <label class="block text-sm font-semibold text-gray-700 mb-1">Número de Teléfono</label>
      <div class="flex items-center gap-2">
        <p-inputmask
          mask="(+9) 999 999 9999"
          placeholder="(+1) 999 999 999"
          formControlName="phoneNumber"
          (onInput)="onPhoneChange($event)"
          class="
            w-full

            [&_.p-inputtext]:w-full
            [&_.p-inputtext]:min-w-72
            [&_.p-inputtext]:!h-10
            [&_.p-inputtext]:!rounded-full
            [&_.p-inputtext]:!text-sm
            [&_.p-inputtext]:bg-cuaternario
            [&_.p-inputtext]:!border
            [&_.p-inputtext]:!border-transparent
            [&_.p-inputtext:focus]:!border-[#dad9dd]
            [&_.p-inputtext]:transition-all
            [&_.p-inputtext]:duration-200
          "
        ></p-inputmask>
      </div>
      <small class="text-gray-500">
        Introduzca el número desde el cual se enviarán los mensajes.
      </small>
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1">ID de número de teléfono</label>
      <input
        type="text"
        pInputText
        formControlName="phoneNumberId"
        placeholder="ID obtenido del panel de Facebook"
        class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
      />
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1">ID de cuenta de negocio</label>
      <input
        type="text"
        pInputText
        formControlName="businessId"
        placeholder="ID de cuenta comercial de Facebook"
        class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
      />
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1">Clave de API</label>
      <input
        type="password"
        pInputText
        class="w-full"
        formControlName="accessToken"
        placeholder="Clave de API"
        class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
      />
    </div>

    <div class="pt-2">
     <!--  <button-save
        [label]="'Crear canal de WhatsApp'"
        [loading]="loading"
        [disabled]="formData.invalid"
        (click)="onSubmit()"
      ></button-save> -->

      <button
        pButton
        type="button"
        [label]="'Crear canal de WhatsApp'"
        [loading]="loading"
        [disabled]="formData.invalid"
        (click)="onSubmit()"
        class="
        bg-cuaternario
        !text-black
        hover:bg-accent-7
        hover:!text-white
        !rounded-full
        transition-all
        duration-200
        flex
        items-center
        gap-2
        px-4
        py-2"
          >
            <iconify-icon
              icon="mdi:plus-circle-outline"
              class="text-lg text-inherit"
            ></iconify-icon>
      </button>
    </div>
  </div>
</form>




<!--
SE TRATA DE UN FORMULARIO PARA INICIAR SESIÓN EN WHATSAPP CON QR CODE, NO BORRAR. Tal vez sirva más adelante...
@if(messageLoader != "")
{
  <app-modal-loader [messageLoader]="messageLoader"></app-modal-loader>
}
@else
{
  @if (!numberValid && loginQr == "") {
    <form [formGroup]="formData" class="grid grid-cols-1 gap-4">
      <p class="font-medium text-base text-center">Canal de WhatsApp</p>
      <p class="font-normal text-sm">
        Integre con el canal de WhatsApp y comience a apoyar a sus clientes.
      </p>

      <p class="font-normal text-sm text-gray-600 mb-4">
        Se solicita la confirmación del número de teléfono para validar que no existan sesiones simultáneas previamente iniciadas.
      </p>

      <div class="grid grid-cols-1 gap-2">
        <div class="flex flex-col gap-2">
          <label class="text-sm font-medium">Nombre del canal</label>
          <input id="nameWhatsapp" pInputText formControlName="name" />
        </div>

        <div class="flex flex-col gap-2">
          <label class="text-sm font-medium">Número de Teléfono</label>
          <div class="flex items-center gap-2">
            <p-inputmask
              mask="+51 999999999"
              placeholder="+51 999999999"
              formControlName="phoneNumber"
              (onInput)="onPhoneChange($event)"
            />
            <p-button
              (click)="confirmPhone($event)"
              label="Validar"
              [outlined]="true"
            />
          </div>
        </div>

        @if (qrCodeError != "") {
          <small class="text-xs text-red-500">{{ qrCodeError }}</small>
        }

        <small class="text-gray-500">
          Configura el número de teléfono que usarás para autenticarte con WhatsApp.
        </small>
      </div>

      <div class="flex justify-end gap-4">
        <div class="flex gap-2">
          <button-save
            [label]="'canal de WhatsApp'"
            [loading]="loading"
            [disabled]="formData.invalid"
            (click)="onSubmit()"
          />
        </div>
      </div>
    </form>

  }
  @else{
    <p class="font-medium text-base text-center">Canal de WhatsApp</p>
    <p class="font-normal text-sm text-gray-600 mb-4">
      Comience a apoyar a sus clientes mediante WhatsApp.
    </p>
    <div class="w-full space-y-4">
      <div class="flex flex-col">
        <div class="w-full flex items-center justify-center h-48 rounded-lg border-gray-200 border-dashed border-2">
          <p-image [src]="loginQr" alt="Imagen base64" width="180"></p-image>
        </div>
        <div class="flex gap-2 items-center mt-4">
          <iconify-icon [icon]="'bitcoin-icons:scan-filled'" class="text-lg" />
          <h5 class="font-bold text-2sm">Instrucciones:</h5>
        </div>
        <div class="flex flex-col gap-4 mt-2">
          <div class="flex gap-2">
            <div>
              <span class="bg-green-200 text-green-600 px-2 py-1 rounded-full text-xs ">1</span>
            </div>
            <p class="font-normal text-sm">Abre WhatsApp en tu teléfono</p>
          </div>
          <div class="flex gap-2">
            <div>
              <span class="bg-green-200 text-green-600 px-2 py-1 rounded-full text-xs ">2</span>
            </div>
            <div class="flex flex-col">
              <p class="font-medium text-sm">Android:</p>
              <p class="font-normal text-sm">Toca Menú (⋮) > Dispositivos vinculados > Vincular un dispositivo</p>
            </div>
          </div>
          <div class="flex gap-2">
            <div>
              <span class="bg-green-200 text-green-600 px-2 py-1 max-h-2rem rounded-full text-xs ">3</span>
            </div>
            <div class="flex flex-col">
              <p class="font-medium text-sm">iPhone:</p>
              <p class="font-normal text-sm">Toca Configuración > Dispositivos vinculados > Vincular un dispositivo</p>
            </div>
          </div>
          <div class="flex gap-2">
            <span class="bg-green-200 text-green-600 px-2 py-1 rounded-full text-xs ">4</span>
            <p class="font-normal text-sm">Apunta tu teléfono hacia esta pantalla para escanear el código</p>
          </div>
        </div>
        <p-divider type="solid" />
        <div class="bg-blue-50 border border-blue-200 rounded-lg p-4">
          <div class="flex gap-2 ">
            <iconify-icon [icon]="'fluent:phone-32-light'" class="text-lg mt-1" />
            <div class="flex flex-col gap-2">
              <p class="font-medium text-sm">Mantén tu teléfono conectado</p>
              <p class="font-normal text-xs text-blue-500">WhatsApp Web está vinculado a tu teléfono. Para usar WhatsApp Web, tu teléfono debe estar conectado a internet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
} -->
