<div class="grid grid-cols-1 gap-4">
  <p class="font-medium text-base text-center">Elegir un canal</p>
  <p class="font-normal text-sm">
    El sistema tiene soporte para integración con Facebook Messenger, WhatsApp,
    Telegram, SMS, Emails, etc. Para empezar, elige uno de los canales a
    continuación.
  </p>
  <div class="w-full mt-4 box-border">
    <div class="flex flex-wrap gap-6 justify-center">
      @for (channel of channels; track $index) {
      <a
        (click)="goNext(channel)"
        class="h-32 w-32 rounded border border-gray-300 hover:border-sky-500 transition-all duration-300 flex flex-col items-center justify-center overflow-hidden cursor-pointer"
      >
        <channel-icon [logo]="channel.logo!" />
        <span class="mt-2 font-semibold text-gray-700 text-sm capitalize">{{
          channel.name
        }}</span>
      </a>
      }
    </div>
  </div>
</div>
<div class="relative basis-1/4 pl-6"></div>
