<form [formGroup]="formData" class="grid grid-cols-1 gap-4">
  <div class="flex flex-col gap-2">
    <label class="text-sm font-medium" for="idtipoConsulta"> Canal </label>
    <p-select
      id="categoria"
      [options]="listCategoryChannels"
      optionLabel="name"
      optionValue="id"
      formControlName="categoryId"
      placeholder="Seleccione el canal"
      appendTo="body"
    />
  </div>

  <!-- Nombre -->
  <div class="flex flex-col space-y-1">
    <label class="text-sm font-medium" for="nombreEstado">
      Nombre <span class="text-sm text-red-500">*</span>
    </label>
    <div class="relative">
      <input pInputText id="nombre" formControlName="name" class="w-full" />
    </div>
    <div
      *ngIf="formData.controls.name.invalid && formData.controls.name.touched"
    >
      <small
        class="text-xs text-red-500"
        *ngIf="formData.controls.name.errors?.['required']"
        >El nombre es requerido.</small
      >
    </div>
  </div>

  <!-- Descripcion -->
  <div class="flex flex-col space-y-1">
    <label class="text-sm font-medium" for="descripcion"> Descripción </label>
    <textarea
      id="descripcion"
      rows="2"
      cols="30"
      pTextarea
      formControlName="description"
    ></textarea>
  </div>

  <div class="grid grid-cols-5 gap-6">
    <!-- Color -->
    <div class="col-span-2 flex flex-col space-y-1 w-full">
      <label class="text-sm font-medium" for="Color">
        Color <span class="text-sm text-red-500">*</span>
      </label>

      <p-colorPicker
        id="color"
        formControlName="color"
        format="hex"
        required
        styleClass="!w-full"
        panelClass="w-full"
        appendTo="body"
      ></p-colorPicker>

      <div
        *ngIf="
          formData.controls.color.invalid && formData.controls.color.touched
        "
      >
        <small
          class="text-xs text-red-500"
          *ngIf="formData.controls.color.errors?.['required']"
        >
          El Color es requerido.
        </small>
      </div>
    </div>
    <!-- Color -->
    <div class="col-span-3 flex flex-col space-y-1 w-full">
      <label class="text-sm font-medium" for="icon"> Icono </label>

      <div class="grid grid-cols-5">
        <div class="col-span-4">
          <input pInputText id="icon" formControlName="icon" class="w-full" />
        </div>
        <div class="h-full flex items-center justify-center">
          <iconify-icon class="text-4xl" [icon]="icon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Botones -->
  <div class="flex justify-self-end pt-2 gap-4">
    <button-cancel (click)="onCancel()" />
    <button-save
      [label]="id ? 'Actualizar' : 'Guardar'"
      [loading]="loading"
      [disabled]="formData.invalid"
      (click)="onSubmit()"
    />
  </div>
</form>
