<div class="grid grid-cols-1 gap-4">
  <!-- Encabezado -->
  <div class="bg-gray-50 shadow !rounded-[30px] p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="col-span-2 grid grid-cols-1 gap-2">
        <h5 class="text-2xl font-semibold capitalize ml-2 text-accent">{{ title }}</h5>
        <p class="text-sm font-normal text-gray-700 ml-2">
          {{ description }}
        </p>
      </div>
      <div class="flex justify-end">
        <button
          pButton
          type="button"
          (click)="addNew()"
          class="
          h-10
          bg-cuaternario
          !text-black
          hover:bg-accent-7
          hover:!text-white
          !rounded-full
          transition-all
          duration-200
          flex
          items-center
          gap-2
          px-4
          py-2"
            >
              <iconify-icon
                icon="mdi:plus-circle-outline"
                class="text-lg text-inherit"
              ></iconify-icon>

              <span class="font-medium">
                Nueva Área
              </span>
        </button>
      </div>
    </div>
  </div>

  <!-- <section class="grid grid-cols-1 gap-2">
    <p-card>
      <p-table [value]="listDepartments">
        <ng-template #header>
          <tr>
            <th>
              <div class="flex justify-start items-center text-xs uppercase">Nombre</div>
            </th>
            <th>
              <div class="flex justify-center items-center text-xs uppercase">Estado</div>
            </th>
            <th class="w-28">
              <div class="flex justify-center items-center"></div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-item>
          <tr>
            <td>
              <div class="flex items-center gap-2">
                <div class="flex flex-col">
                  <h5 class="text-base font-medium">
                    {{ item.name }}
                  </h5>
                  <p class="text-sm font-light">{{ item.description }}</p>
                </div>
              </div>
            </td>
            <td>
              <div class="flex justify-center items-center">
                <p-tag
                  [value]="item.status === true ? ' Activo' : 'Inactivo'"
                  [severity]="item.status === true ? 'success' : 'warn'"
                />
              </div>
            </td>
            <td class="w-28">
              <div class="flex justify-center items-center gap-2">
                <button-edit (click)="edit(item)" />
                <btn-delete (click)="remove(item)" />
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100">
              <div class="text-center text-sm font-light p-4">
                No hay áreas creadas en ésta cuenta.
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #footer>
          <tr>
            <td colspan="100">
              <div class="flex justify-center items-center">
                <sat-paginator
                  [totalItems]="totalItems"
                  [limit]="limit()"
                  [offset]="offset()"
                  (pageChange)="onPageChange($event)"
                />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </section> -->

  <section class="h-[calc(100vh-17rem)] overflow-y-auto">
    <complete-table
      [cols]="cols"
      [orderBy]="orderBy"
      [dataTable]="dataTable"
      [total]="totalItems"
      [limit]="limit()"
      [offset]="offset()"
      (actionClicked)="onTableAction($event)"
      (searchChange)="searchChange($event)"
    />
  </section>
</div>
