<div class="grid grid-cols-1 gap-4">
  <!-- Encabezado -->
  <div class="bg-gray-50 shadow-lg !rounded-[30px] p-4">
    <h5 class="text-2xl font-semibold ml-2 text-accent">
      Configuración de Mensajes Automáticos
    </h5>
    <div class="flex flex-col w-full gap-3 text-n-slate-11">
      <p
        class="mb-0 text-sm font-normal line-clamp-5 sm:line-clamp-none max-w-3xl text-gray-600 ml-2"
      >
        Configura las respuestas automaticas para todos los canales de atención
      </p>
    </div>
  </div>

  <!-- Tabs de canales -->
  <p-tabs [value]="value" class="custom-tabs">
    <p-tablist>
      <!-- <p-tab [value]="0" class="flex items-center">
        <iconify-icon [icon]="'line-md:phone'" class="text-xl" />
        <span>Telefónico</span>
      </p-tab>
      <p-tab [value]="1" class="flex items-center"
        ><iconify-icon [icon]="'line-md:email'" class="text-xl" />
        <span>Email</span>
      </p-tab> -->
      <p-tab [value]="0" class="flex items-center">
        <iconify-icon [icon]="'line-md:chat'" class="text-xl" />
        <span>Chatsat</span>
      </p-tab>
      <p-tab [value]="1" class="flex items-center">
        <iconify-icon [icon]="'ic:outline-whatsapp'" class="text-xl" />
        <span>WhatsApp</span>
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <!-- <p-tabpanel [value]="0">
        <div class="flex justify-between items-center py-4">
          <h3 class="font-bold text-xl">Tipos de Mensaje - Telefónico</h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
          <div
            *ngFor="let item of mensajesTelefonico"
            class="border border-gray-400 rounded-lg p-4 shadow-2xl space-y-1"
          >
            <div class="flex items-center gap-2">
              <iconify-icon [icon]="'tabler:message'" class="text-base" />
              <p class="font-semibold text-lg">{{ item.name }}</p>
            </div>
            <div class="">
              <p class="font-normal text-sm">{{ item.descripcion }}</p>
            </div>
            <div class="flex items-center gap-2">
              <p class="font-normal text-sm mt-1">Estado:</p>
              <p-tag
                class="text-xs"
                [value]="item.status == true ? 'Activo' : 'Inactivo'"
                [severity]="item.status == true ? 'success' : 'danger'"
                ><iconify-icon
                  *ngIf="item.status == true"
                  [icon]="'prime:check-circle'"
                  class="text-lg"
                />
                <iconify-icon
                  *ngIf="item.status != true"
                  [icon]="'system-uicons:cross-circle'"
                  class="text-lg"
                />
              </p-tag>
            </div>
            <div class="flex justify-between items-center">
              <div class="flex items-center gap-2">
                <p class="font-normal text-sm">Última edición:</p>
                <p class="font-semibold text-sm">
                  {{ item.updatedAt | date : "dd/MM/yyyy" }}
                </p>
              </div>
              <btn-edit-square (onClick)="onEdit(item)" />
            </div>
          </div>
        </div>
      </p-tabpanel> -->
      <!-- Email -->
      <!-- <p-tabpanel [value]="1">
        <div class="flex justify-between items-center py-4">
          <h3 class="font-bold text-xl">Tipos de Mensaje - Email</h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
          <div
            *ngFor="let item of mensajesCorreo"
            class="border border-gray-400 rounded-lg p-4 shadow-2xl space-y-1"
          >
            <div class="flex items-center gap-2">
              <iconify-icon [icon]="'tabler:message'" class="text-base" />
              <p class="font-semibold text-lg">{{ item.name }}</p>
            </div>
            <div class="">
              <p class="font-normal text-sm">{{ item.descripcion }}</p>
            </div>
            <div class="flex items-center gap-2">
              <p class="font-normal text-sm mt-1">status:</p>
              <p-tag
                class="text-xs"
                [value]="item.status == true ? 'Activo' : 'Inactivo'"
                [severity]="item.status == true ? 'success' : 'danger'"
                ><iconify-icon
                  *ngIf="item.status == true"
                  [icon]="'prime:check-circle'"
                  class="text-lg"
                />
                <iconify-icon
                  *ngIf="item.status != true"
                  [icon]="'system-uicons:cross-circle'"
                  class="text-lg"
                />
              </p-tag>
            </div>
            <div class="flex justify-between items-center">
              <div class="flex items-center gap-2">
                <p class="font-normal text-sm">Última edición:</p>
                <p class="font-semibold text-sm">
                  {{ item.updatedAt | date : "dd/MM/yyyy" }}
                </p>
              </div>
              <btn-edit-square (onClick)="onEdit(item)" />
            </div>
          </div>
        </div>
      </p-tabpanel> -->
      <!-- WhatsApp -->
      <p-tabpanel [value]="0">
        <div class="grid grid-cols-1 gap-4 ml-4 mr-4">
        <div class="flex justify-between items-center py-4">
          <h3 class="font-bold text-xl">Tipos de Mensaje - Chat</h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
          <div
            *ngFor="let item of mensajesChatsat"
            class="border border-gray-400 rounded-lg p-4 shadow-2xl space-y-1"
          >
            <div class="flex items-center gap-2">
              <iconify-icon [icon]="'tabler:message'" class="text-base" />
              <p class="font-semibold text-lg">{{ item.name }}</p>
            </div>
            <div class="">
              <p class="font-normal text-sm">{{ item.descripcion }}</p>
            </div>
            <div class="flex items-center gap-2">
              <p class="font-normal text-sm mt-1">status:</p>
              <p-tag
                class="text-xs"
                [value]="item.status == true ? 'Activo' : 'Inactivo'"
                [severity]="item.status == true ? 'success' : 'danger'"
                ><iconify-icon
                  *ngIf="item.status == true"
                  [icon]="'prime:check-circle'"
                  class="text-lg"
                />
                <iconify-icon
                  *ngIf="item.status != true"
                  [icon]="'system-uicons:cross-circle'"
                  class="text-lg"
                />
              </p-tag>
            </div>
            <div class="flex justify-between items-center">
              <div class="flex items-center gap-2">
                <p class="font-normal text-sm">Última edición:</p>
                <p class="font-semibold text-sm">
                  {{ item.updatedAt | date : "dd/MM/yyyy" }}
                </p>
              </div>
              <btn-edit-square (onClick)="onEdit(item)" />
            </div>
          </div>
        </div>
        </div>
      </p-tabpanel>
      
      <!-- Telegram -->
      <p-tabpanel [value]="1">
        <div class="flex justify-between items-center py-4">
          <h3 class="font-bold text-xl">Tipos de Mensaje - Whatsapp</h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
          <div
            *ngFor="let item of mensajesWhatsapp"
            class="border border-gray-400 rounded-lg p-4 shadow-2xl space-y-1"
          >
            <div class="flex items-center gap-2">
              <iconify-icon [icon]="'tabler:message'" class="text-base" />
              <p class="font-semibold text-lg">{{ item.name }}</p>
            </div>
            <div class="">
              <p class="font-normal text-sm">{{ item.descripcion }}</p>
            </div>
            <div class="flex items-center gap-2">
              <p class="font-normal text-sm mt-1">status:</p>
              <p-tag
                class="text-xs"
                [value]="item.status == true ? 'Activo' : 'Inactivo'"
                [severity]="item.status == true ? 'success' : 'danger'"
                ><iconify-icon
                  *ngIf="item.status == true"
                  [icon]="'prime:check-circle'"
                  class="text-lg"
                />
                <iconify-icon
                  *ngIf="item.status != true"
                  [icon]="'system-uicons:cross-circle'"
                  class="text-lg"
                />
              </p-tag>
            </div>
            <div class="flex justify-between items-center">
              <div class="flex items-center gap-2">
                <p class="font-normal text-sm">Última edición:</p>
                <p class="font-semibold text-sm">
                  {{ item.updatedAt | date : "dd/MM/yyyy" }}
                </p>
              </div>
              <btn-edit-square (onClick)="onEdit(item)" />
            </div>
          </div>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
<!-- Modal Editar Mensaje Aut -->
<p-dialog
  [(visible)]="displayEditarMensaje"
  [modal]="true"
  [header]="'Editar Mensaje Automático '"
  [dismissableMask]="true"
  styleClass="modal-lg !rounded-[30px]"
>
  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-2">
      <!-- Campo Nombre -->
      <div class="flex flex-col gap-2">
        <label class="text-sm font-medium" for="nameUser">
          Título del mensaje <span class="text-xs">*</span>
        </label>
        <input 
          id="nameUser" 
          pInputText 
          formControlName="name"
          class="
                  w-full
                  !rounded-full
                  !text-sm
                  !h-10
                  min-w-72
                  bg-cuaternario
                  !border
                  !border-transparent
                  focus:!border-[#dad9dd]
                  transition-all
                  duration-200
                "
          />
        <div
          *ngIf="
            formData.controls.name.invalid && formData.controls.name.touched
          "
        >
          <small *ngIf="formData.controls.name.errors?.['required']">
            El nombre es requerido.
          </small>
        </div>
      </div>

      <!-- FormArray de Descripciones -->
      <div class="flex flex-col gap-3">
        <label class="text-sm font-medium">
          Contenido del mensaje <span class="text-xs">*</span>
        </label>

        <div *ngFor="let description of descriptions.controls; let i = index" class="flex flex-col w-full gap-2">
          <div class="flex items-center w-full gap-2">
            <div class="flex-1">
              <textarea
                [id]="'descriptionConsulta_' + i"
                rows="2"
                cols="30"
                pTextarea
                class="w-full"
                [formControl]="description"
                placeholder="Ingrese el contenido del mensaje"
                class="
                  w-full
                  min-w-72

                  !rounded-[20px]
                  !text-sm

                  bg-cuaternario
                  !border
                  !border-transparent

                  px-4
                  py-2

                  focus:!border-[#dad9dd]
                  focus:outline-none

                  transition-all
                  duration-200

                  resize-none
                "
              ></textarea>
              <div *ngIf="description.invalid && description.touched">
                <small *ngIf="description.errors?.['required']" class="text-red-500">
                  El mensaje es requerido.
                </small>
              </div>
            </div>


            <!-- Botón para eliminar (solo si hay más de 1) -->
            <!-- <button
              *ngIf="descriptions.length > 1"
              type="button"
              pButton
              class="p-button-rounded p-button-danger p-button-text"
              (click)="removeDescription(i)"
              title="Eliminar mensaje"
            ></button> -->
            <btn-delete (click)="removeDescription(i)" />
          </div>
        </div>

        <!-- Botón para agregar más campos -->
        <div class="flex justify-start">
          <p-button
            type="button"
            size="small"
            label="Agregar mensaje"
            severity="secondary"
            styleClass="!rounded-full !shadow-none"
            (onClick)="addDescription()"
          >
            <iconify-icon [icon]="'ic:baseline-plus'" class="text-lg" />
          </p-button>
        </div>
      </div>

      <!-- Toggle Status -->
      <div class="flex items-center gap-2 py-1">
        <p-toggleswitch formControlName="status" inputId="activeRole" />
        <label class="text-sm font-medium pb-1.5" for="activeRole">{{
          isActive ? "Activo" : "Inactivo"
        }}</label>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="flex justify-self-end pt-4 gap-4">
      <button-cancel (click)="displayEditarMensaje = false" />
      <!-- <p-button
        type="submit"
        size="small"
        label="Actualizar"
        styleClass="w-full !rounded-full !shadow-none"
        severity="primary"
        [disabled]="formData.invalid"
      >
        <iconify-icon [icon]="'ci:save'" class="text-lg" />
      </p-button>
      -->

      	<button
          pButton
          type="submit"
          label="Actualizar"
          styleClass="w-full !rounded-full !shadow-none"
          severity="primary"
          [disabled]="formData.invalid"
          class="
            bg-cuaternario
            !text-black
            hover:bg-accent-7
            hover:!text-white
            !rounded-full
            transition-all
            duration-200
            flex
            items-center
            gap-2
            px-4
            py-2"
        >
              <iconify-icon
                icon="ci:save"
                class="text-lg text-inherit"
              ></iconify-icon>
        </button>
    </div>
  </form>
</p-dialog>
