<p-card
  styleClass="!rounded-[30px] overflow-hidden"
>
  <p-tabs lazy [value]="viewValue()" Class="custom-tabs">
    <p-tablist>
      <p-tab 
        [value]="'supervisor'" 
        (click)="changeView('supervisor')"
  
        >Supervisión en Vivo</p-tab
      >
      <p-tab 
        [value]="'ended-calls'"
        (click)="changeView('ended-calls')"
        
        >LLamadas Finalizadas</p-tab
      >
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="'supervisor'">
        <app-supervision *ngIf="viewValue() == 'supervisor'"></app-supervision>
      </p-tabpanel>
      <p-tabpanel [value]="'ended-calls'">
        <app-ended-calls *ngIf="viewValue() == 'ended-calls'"></app-ended-calls>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-card>
