<form [formGroup]="formData" class="grid grid-cols-1 gap-4">
  <p class="font-medium text-base text-center">Canal de Telegram</p>
  <p class="font-normal text-sm">
    Integre con el canal de Telegram y comience a apoyar a sus clientes.
  </p>
  <div class="grid grid-cols-1 gap-2">
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium"> Nombre del canal </label>
      <input 
      id="nameTelegram" 
      pInputText 
      formControlName="name" 
      class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium"> Número de Teléfono </label>
      <div class="flex items-center gap-2">
        <p-inputmask
          [disabled]="codeSended()"
          mask="+51 999999999"
          placeholder="+51 999999999"
          (onInput)="onPhoneChange($event)"
          formControlName="phoneNumber"
          class="
            w-full

            [&_.p-inputtext]:w-full
            [&_.p-inputtext]:min-w-72
            [&_.p-inputtext]:!h-10
            [&_.p-inputtext]:!rounded-full
            [&_.p-inputtext]:!text-sm
            [&_.p-inputtext]:bg-cuaternario
            [&_.p-inputtext]:!border
            [&_.p-inputtext]:!border-transparent
            [&_.p-inputtext:focus]:!border-[#dad9dd]
            [&_.p-inputtext]:transition-all
            [&_.p-inputtext]:duration-200
          "
        />
        <p-button [disabled]="codeSended()" (click)="confirmModal()" label="Validar" [outlined]="true" />
      </div>
    </div>
    @if(emailRequired)
    {
      <div class="flex flex-col gap-2">
        <label class="block text-sm font-semibold text-gray-700 mb-1"
          >Correo electrónico: <span class="text-xs">*</span></label
        >
        <input
          type="email"
          pInputText
          class="w-full"
          placeholder="Por favor, introduzca su e-mail"
          (input)="onEmailChange($event)"
          class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
        />
        {{email()}}
      </div>
    }

    @if(phone() != ""  && (!emailRequired || email()) && codeSended())
    {
        <div class="flex flex-col gap-2">
          <label class="text-sm font-medium"> Codigo de inicio de Sesión: </label>
          <div class="flex items-center gap-2">
            <p-inputmask
              mask="99999"
              placeholder="12345"
              (onInput)="onCodeChange($event)"
            />
          </div>
        </div>
    }

    <small class="text-gray-500">
      Configura el número de teléfono que usarás para autenticarte.
    </small>
  </div>
  <div class="flex justify-end gap-4">
    <div class="flex gap-2">
      <!-- <button-save
        [label]="'Crear canal de Telegram'"
        [loading]="loading"
        [disabled]="formData.invalid || code().length != 5"
        (click)="createNewSession()"
      /> -->

      <button
        pButton
        type="button"
        [label]="'Crear canal de Telegram'"
        [loading]="loading"
        [disabled]="formData.invalid || code().length != 5"
        (click)="createNewSession()"
        class="
        bg-cuaternario
        !text-black
        hover:bg-accent-7
        hover:!text-white
        !rounded-full
        transition-all
        duration-200
        flex
        items-center
        gap-2
        px-4
        py-2"
          >
            <iconify-icon
              icon="mdi:plus-circle-outline"
              class="text-lg text-inherit"
            ></iconify-icon>

      </button>
    </div>
  </div>

</form>
