<div class="w-full flex justify-center">
  <div class="w-full grid grid-cols-1 gap-2">
    <p-fieldset legend="Información Vicidial">
      <div cFlass="grid grid-cols-1 gap-4 mb-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label
              class="text-sm font-semibold text-black mb-2 flex items-center gap-2"
            >
              <span>Campañas Vicidial <span class="text-xs">*</span></span>
            </label>

            <div class="relative">
              <!-- <p-dropdown [(ngModel)]="vidicialId" [options]="listCampaignVicidial" optionLabel="campaign_name"
                  optionValue="campaign_id" placeholder="Selecciona un campaña"
                  class="w-full rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300" appendTo="body"
                  [filter]="true" [showClear]="true" filterPlaceholder="Buscar Campaña..." (onChange)="onCampaignChange($event)" >
                </p-dropdown> -->

              <p-select
                [(ngModel)]="vidicialId"
                [options]="listCampaignVicidial"
                optionLabel="campaign_name"
                optionValue="campaign_id"
                placeholder="Selecciona una campaña"
                appendTo="body"
                [filter]="true"
                [showClear]="true"
                filterPlaceholder="Buscar campaña..."
                class="w-full !rounded-[30px] shadow-sm hover:shadow-md transition-all duration-300 focus:ring-2 focus:ring-gray-300 bg-cuaternario"
                (onChange)="onCampaignChange($event)"
              >
              </p-select>
            </div>
          </div>

          <div>
            <label
              for="audioDropdown"
              class="text-sm font-semibold text-black mb-2 flex items-center gap-2"
            >
              <span>Lista de Audios</span>
            </label>

            <div class="relative">
              <p-select
                id="audioDropdown"
                [(ngModel)]="name_archivo"
                [options]="listAudios"
                optionLabel="audio_filename"
                optionValue="audio_filename"
                placeholder="Selecciona un audio"
                class="w-full !rounded-[30px] shadow-sm hover:shadow-md transition-shadow duration-300 focus:ring-gray-300 bg-cuaternario"
                appendTo="body"
                [filter]="true"
                [showClear]="true"
                filterPlaceholder="Buscar audio..."
                (onChange)="onAudioChange($event)"
              >
              </p-select>
            </div>

            <div
              *ngIf="audioUrlAudio"
              class="mt-5 p-4 bg-terciario border border-gray-200 rounded-xl shadow-sm hover:shadow-lg transition-all duration-300"
            >
              <audio
                #audioPlayer
                controls
                [src]="audioUrlAudio"
                class="w-full rounded-md outline-none focus:ring-2 focus:ring-blue-400 transition-all"
              ></audio>
            </div>
          </div>
        </div>
      </div>
    </p-fieldset>

    <ng-container *ngIf="vidicialId">
      <p-fieldset legend="Audio TTS" >
        <div class="shadow rounded-xl">
          <label for="tts" class="block mb-1 font-medium"
            >Speech/Texto para el audio <span class="text-xs">*</span></label
          >
          <textarea
            id="tts"
            [(ngModel)]="ttsText"
            rows="3"
            maxlength="1000"
            class="w-full border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200 focus:outline-none"
            placeholder="Escribe el texto para convertir a audio..."
          >
          </textarea>

          <div class="text-sm text-gray-500 mt-1">
            Caracteres: {{ ttsText.length }}/1000
          </div>

          <div
            class="flex justify-between items-center mt-4 bg-gray-100 p-4 rounded shadow"
          >
            <div class="flex items-center gap-3">
              <button
                class="ml-4 w-72"
                (click)="reproducirTexto()"
                class="mt-4 px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-800 transition"
              >
                Generar Audio TTS
              </button>
               <button *ngIf="!ttsText"
                class="ml-4 w-72"
                (click)="CargarVicidial()"
                class="mt-4 px-4 py-2 bg-blue-900 text-white rounded hover:bg-gray-800 transition"
              >
                Actualizar Audio
              </button>
              <button *ngIf="ttsText"
                class="ml-4 w-72 mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-900 transition flex justify-center items-center"
                (click)="CargarVicidial()"
                [disabled]="loading"
              >
                <ng-container *ngIf="!loading; else loadingTemplate">
                  Cargar en Vicidial
                </ng-container>

                <ng-template #loadingTemplate>
                  <svg
                    class="animate-spin h-5 w-5 mr-2 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <circle
                      class="opacity-25"
                      cx="12"
                      cy="12"
                      r="10"
                      stroke="currentColor"
                      stroke-width="4"
                    ></circle>
                    <path
                      class="opacity-75"
                      fill="currentColor"
                      d="M4 12a8 8 0 018-8v4l3-3-3-3v4a8 8 0 00-8 8h4l-3 3 3 3H4z"
                    ></path>
                  </svg>
                  Guardando...
                </ng-template>
              </button>
            </div>
            <div *ngIf="audioUrl" class="flex items-center gap-3">
              <audio [src]="audioUrl" controls class="w-72"></audio>
              <p-button
                size="small"
                severity="info"
                (click)="descargarAudio()"
                styleClass="w-full"
                [raised]="true"
              >
                <iconify-icon
                  [icon]="'lucide:arrow-big-down-dash'"
                  class="text-xl"
                />
              </p-button>
            </div>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset legend="Información básica" >
        <div class="grid grid-cols-1 gap-4">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Nombre -->
            <div>
              <label for="list_id" class="block text-sm font-medium mb-1"
                >Id lista <span class="text-xs">*</span></label
              >
              <input
                id="list_id"
                type="number"
                pInputText
                placeholder="Ingrese un codigo"
                class="w-full"
                [(ngModel)]="formlist.list_id"
              />
            </div>
            <div>
              <label for="list_name" class="block text-sm font-medium mb-1"
                >Nombre lista <span class="text-xs">*</span></label
              >
              <input
                id="list_name"
                type="text"
                pInputText
                placeholder="Ingrese un nombre"
                class="w-full"
                [(ngModel)]="formlist.list_name"
              />
            </div>

            <div>
              <label for="departmentId" class="block text-sm font-medium mb-1"
                >Área <span class="text-xs">*</span></label
              >
              <p-select
                [options]="departmentList"
                [(ngModel)]="formlist.departmentId"
                optionLabel="name"
                optionValue="id"
                placeholder="Seleccionar un área"
                class="w-full"
                appendTo="body"
              ></p-select>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
            <div>
              <label
                for="list_description"
                class="block text-sm font-medium mb-1"
                >Descripción lista
              </label>
              <input
                id="list_description"
                type="text"
                pInputText
                placeholder="Ingrese una descripción"
                class="w-full"
                [(ngModel)]="formlist.list_description"
              />
            </div>
          </div>
        </div>
      </p-fieldset>

      <div class="shadow rounded-xl gap-2" *ngIf="formlist.list_id">
        <p-fieldset legend="Carga de datos">
          <p class="mb-4 text-sm text-gray-600 flex items-center gap-2">
            <span
              >Sube el archivo <strong>Excel</strong> o <strong>CSV</strong> con
              los datos de los contribuyentes.</span
            >
            <button
              type="button"
              (click)="descargarPlantilla()"
              class="flex items-center gap-1 px-3 py-1.5 text-sm text-white bg-green-600 hover:bg-green-700 rounded shadow"
            >
              <iconify-icon [icon]="'wpf:check-file'" class="text-lg" />
              Descargar plantilla
            </button>
          </p>

          <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-2">
            <ngx-file-drop
              #fileDropRef
              dropZoneLabel="Arrastra y suelta o haz clic para seleccionar"
              (onFileDrop)="onFileDropped($event)"
              (click)="onDropZoneClick()"
              [multiple]="false"
              [accept]="'.xlsx,.xls,.csv'"
              class="drop-zone"
            >
              <ng-template ngx-file-drop-content-tmp>
                <div class="drop-zone-content">
                  <p>
                    Arrastra y suelta tu archivo aquí o
                    <strong>haz clic</strong> para seleccionar
                  </p>
                  <span class="file-types"
                    >Formatos permitidos: .xlsx, .xls, .csv</span
                  >
                </div>
              </ng-template>
            </ngx-file-drop>

            <input
              #fileInput
              type="file"
              accept=".xlsx,.xls,.csv"
              (change)="onFileSelected($event)"
              style="display: none"
            />

            <div
              class="mt-3 text-sm text-gray-600 flex items-center gap-3"
              *ngIf="nameArchivo"
            >
              <span class="mb-0 me-2"
                >Archivo cargado: <strong>{{ nameArchivo }} </strong></span
              >

              <button
                (click)="eliminarArchivo()"
                class="flex items-center gap-1 px-3 py-1.5 text-sm text-white bg-red-600 hover:bg-red-700 rounded shadow"
              >
                <iconify-icon [icon]="'lucide:file-x'" class="text-lg" />
                Eliminar
              </button>
            </div>
          </div>
        </p-fieldset>
      </div>

      <!-- Botones -->
      <div class="pt-2 flex justify-end space-x-2" *ngIf="formlist.list_id">
        <button-cancel (click)="onCancel()" />
        <button-save
          [label]="'Guardar'"
          [loading]="loading"
          (click)="guardarlead()"
        />
      </div>
    </ng-container>
  </div>
</div>
