<div class="grid grid-cols-1 gap-8">
  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col gap-2">
      <h5 class="text-2xl font-semibold">{{ title }}</h5>
      <p class="text-sm font-normal">
        {{ descripcion }}
      </p>
    </div>
    <div class="flex justify-end">
      <button-save
        *ngIf="false"
        [label]="createButtonLabel"
        [icon]="'mdi:plus-circle-outline'"
        (click)="addNew()"
      />
    </div>
  </div>

  <section class="grid grid-cols-1 gap-2">
    <p-card>
      <p-table
        #dt
        [value]="listRecordatorio"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [scrollable]="true"
        scrollHeight="400px"
        class="p-datatable-sm shadow-md rounded-xl"
        styleClass="table-header-light "
      >
        <ng-template pTemplate="header">
          <tr [style.backgroundColor]="'#16236e'" style="color: white">
            <th pSortableColumn="name">
              Nombre
              <p-sortIcon field="name"></p-sortIcon>
            </th>

            <th class="bg-[#16236e] text-white">Descripción</th>
            <th class="bg-[#16236e] text-white">Fecha</th>
            <th class="bg-[#16236e] text-white">Hora</th>
            <th class="text-right w-28">Acciones</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.name }}</td>
            <td>
              <div class="flex items-center space-x-2">
                <span>
                  {{
                    item.description?.length > 200
                      ? (item.description | slice : 0 : 100) + "..."
                      : item.description
                  }}
                </span>
              </div>
            </td>
            <td>
              <div class="flex items-center space-x-2">
                <iconify-icon
                  icon="lucide:calendar-1"
                  class="text-shadow-amber-400 text-lg"
                ></iconify-icon>
                <span>{{ item.date | date : "dd/MM/yyyy" }}</span>
              </div>
            </td>
            <td>
              <div class="flex items-center space-x-2">
                <iconify-icon
                  icon="lucide:timer-reset"
                  class="text-red-950 text-lg"
                ></iconify-icon>
                <span>{{ item.hour | date : "HH:mm" }}</span>
              </div>
            </td>
            <td class="w-28">
              <div class="flex justify-center items-center gap-1">
                <button-edit (click)="edit(item)" />
                <btn-delete (click)="remove(item)" />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </section>
</div>
