<button
  type="button"
  class="h-full w-full duration-200 ease-in py-2 cursor-pointer !rounded-[20px] !shadow-sm"
  [ngClass]="[currentTextColor, currentHoverColor, currentBackgroundColor]"
  (click)="onButtonClick()"
>
  <div class="flex flex-col justify-center items-center gap-2">
    @if(image) {
      <div class="w-50 h-auto flex items-center overflow-hidden">
        <p-image
          src={{image}}
          alt="Image"
          class="w-full h-full object-cover"
        />
      </div>
    } @else {
      <iconify-icon [icon]="icon" class="text-3xl"></iconify-icon>
      <span
        class="font-medium text-center break-words"
        [ngClass]="currentGradientClass"
      >
        {{ label }}
      </span>
    }
  </div>
</button>

