<div class="grid grid-cols-1 gap-4">
  <!-- Encabezado -->
  <div class="bg-gray-50 shadow !rounded-[30px] p-4">
    <div class="flex justify-between items-center">
      <div class="ml-2">
        <app-title-sat />
      </div>
      <button-save
        *ngIf="false"
        [label]="createButtonLabel"
        [icon]="'mdi:plus-circle-outline'"
        (click)="addNew()"
      />
    </div>
  </div>

  <section class="grid grid-cols-1 gap-2">
    <p-card>
      <p-table
        [value]="listRoles"
        [scrollable]="true"
        scrollHeight="calc(100vh - 19.5rem)"
        styleClass="table-header-light "
      >
        <ng-template #header>
          <tr>
            <th>
              <div class="flex justify-start items-center text-xs uppercase">
                Nombre
              </div>
            </th>
            <th>
              <div class="flex justify-start items-center text-xs uppercase">
                Descripción
              </div>
            </th>
            <th class="w-28">
              <div class="flex justify-center items-center"></div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-item>
          <tr>
            <td>
              <div class="flex items-center gap-2">
                <div class="flex flex-col">
                  <h5 class="text-sm font-medium capitalize">
                    {{ item.name }}
                  </h5>
                </div>
              </div>
            </td>
            <td>
              <div class="flex items-center gap-2">
                <div class="flex flex-col">
                  <p class="text-sm font-light">{{ item.description }}</p>
                </div>
              </div>
            </td>
            <td class="w-28">
              <div class="flex justify-center items-center gap-1">
                <button-edit (click)="edit(item)" />
                <btn-delete *ngIf="!item.inmutable" (click)="remove(item)" />
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100">
              <div class="text-center text-sm font-light p-4">
                No hay equipos creados en ésta cuenta.
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #footer>
          <tr>
            <td colspan="100">
              <div class="flex justify-center items-center">
                <sat-paginator
                  [totalItems]="totalItems"
                  [limit]="limit()"
                  [offset]="offset()"
                  (pageChange)="onPageChange($event)"
                />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </section>
</div>
