<form [formGroup]="formData" class="grid grid-cols-1 gap-6">
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="nameRole">
        Nombre <span class="text-xs">*</span>
      </label>
      <input 
        id="nameRole" 
        pInputText 
        formControlName="name" 
        class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
      />
      <div
        *ngIf="formData.controls.name.invalid && formData.controls.name.touched"
      >
        <small *ngIf="formData.controls.name.errors?.['required']"
          >El nombre es requerido.</small
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="descriptionRole">
        Descripción
      </label>
      <textarea
        id="descriptionRole"
        rows="4"
        cols="30"
        pTextarea
        formControlName="description"
        class="
                w-full
                min-w-72

                !rounded-[20px]
                !text-sm

                bg-cuaternario
                !border
                !border-transparent

                px-4
                py-2

                focus:!border-[#dad9dd]
                focus:outline-none

                transition-all
                duration-200

                resize-none
              "
      ></textarea>
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="departmentId">
        Área <span class="text-xs">*</span>
      </label>
      <p-select
        id="departmentId"
        [options]="listDepartments"
        optionLabel="name"
        optionValue="id"
        formControlName="departmentId"
        placeholder="Seleccione..."
        appendTo="body"
        styleClass="w-full !rounded-[30px] focus:ring-gray-300 bg-cuaternario"
      />
    </div>
  </div>
  <div class="flex justify-between gap-4">
    <div class="flex items-center gap-2 py-1">
      <p-toggleswitch formControlName="status" inputId="activeRole" />
      <label class="text-sm font-medium pb-1.5" for="activeRole">{{
        isActive ? "Activo" : "Inactivo"
      }}</label>
    </div>
    <div class="flex gap-2">
      <button
        pButton
        type="button"
        (click)="onCancel()"
        class="
        bg-cuaternario
        !text-black
        hover:!bg-[red]
        hover:!border-[red]
        hover:!text-white
        !rounded-full
        transition-all
        duration-200
        flex
        items-center
        gap-2
        px-4
        py-2"
          >
            <span class="font-medium">
              Cancelar
            </span>
      </button>

      <button
        pButton
        type="button"
        [label]="id ? 'Actualizar' : 'Guardar'"
        [loading]="loading"
        [disabled]="formData.invalid"
        (click)="onSubmit()"
        class="
        bg-cuaternario
        !text-black
        hover:bg-accent-7
        hover:!text-white
        !rounded-full
        transition-all
        duration-200
        flex
        items-center
        gap-2
        px-4
        py-2"
          >
            <iconify-icon
              icon="mdi:plus-circle-outline"
              class="text-lg text-inherit"
            ></iconify-icon>
      </button>
    </div>
  </div>
</form>
