<section
  class="w-screen h-screen flex justify-center items-center bg-primario dark:bg-slate-800"
>
  <div
    class="w-96 bg-[#fff] dark:bg-slate-700 shadow-lg !rounded-[30PX] px-8 py-12"
  >
    <div class="grid grid-col-1 gap-4">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="text-6xl font-extrabold text-accent">CRM</div>
        <div
          class="flex flex-col justify-center items-center gap-1 text-[black] dark:text-slate-100"
        >
          <h2 class="text-[black] text-2xl font-medium">Iniciar sesión</h2>
          <p class="text-sm font-light">Usa tu cuenta</p>
        </div>
      </div>
      <form
        [formGroup]="formData"
        (ngSubmit)="onSubmit()"
        class="grid grid-cols-1 gap-6"
      >
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2 w-full">
            <label
              for="email"
              class="block text-sm font-semibold text-[black] dark:text-slate-100"
            >
              {{ "Correo electrónico" }}
            </label>
            <input
              pInputText
              id="email"
              formControlName="email"
              autocomplete="current-email"
              class="
                w-full
                rounded-full!
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
            />
          </div>
          <div class="flex flex-col gap-2 w-full">
            <div class="flex justify-between items-center">
              <label
                for="password"
                class="block text-sm font-semibold text-[black] dark:text-slate-100"
              >
                {{ "Contraseña" }}
              </label>
              <!-- <a
                class="text-sm font-medium text-sky-500 hover:underline hover:text-sky-600 cursor-pointer"
                routerLink="/auth/reset-password"
              >
                {{ "¿Olvidaste tu contraseña?" }}
              </a> -->
            </div>

            <p-password
              inputId="password"
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
              class="w-full"
              styleClass="w-full"
              inputStyleClass="w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                !bg-[#ECEBF0]
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
              autocomplete="current-password"
            />
          </div>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex flex-col items-center justify-center gap-4">
            <div class="w-full flex gap-2 items-center justify-between">
              <div class="flex items-center">
                <p-checkbox
                  class="flex items-center"
                  formControlName="rememberMe"
                  [binary]="true"
                  inputId="rememberMe"
                />
                <label for="rememberMe" class="text-sm px-2 m-0"
                  >Recuérdame</label
                >
              </div>
              <button
                pButton
                pRipple
                type="submit"
                [label]="loading ? 'Cargando' : 'Iniciar sesión'"
                class="uppercase text-center justify-center"
                [loading]="loading"
                [disabled]="invalid || loading"
                class="
                  !bg-[#ECEBF0]
                  !text-black
                  hover:bg-accent-7
                  hover:!text-white
                  !rounded-full
                  transition-all
                  duration-200
                  flex
                  items-center
                  gap-2
                  px-4
                  py-2"
              ></button>
            </div>

            <ng-container *ngIf="error">
              <div
                class="text-red-600 bg-red-50 border border-red-500 rounded-md px-2 py-1.5 flex items-center gap-1 text-sm"
              >
                <iconify-icon
                  [icon]="'stash:times-circle-light'"
                  class="text-2xl"
                />
                <p>{{ error }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
