<div class="flex pb-8 items-center justify-center bg-blanco">
  <div
    class="relative w-full h-150 mx-6 rounded-[60px] bg-cover bg-center"
    style="background-image: url('/images/footer/backgroundFooter.png');"
  >
    <div class="relative z-10 h-full flex flex-col justify-start px-12 pt-15 text-white">
      <h2 class="text-5xl font-heavitas">
        NOUZ
      </h2>

      <p class="mt-8 text-5xl font-heavitas leading-tight max-w-none md:max-w-[1000px]">
        MENOS OLVIDAR, MÁS LOGRAR.<br />
        ORGANIZA TU MUNDO SIN ESFUERZO.
      </p>

      <!-- Dirección -->
      <div class="mt-10 flex font-poppins text-black items-center gap-3 text-2xl">
        <img
          src="/icons/UBICACIÓN.png"
          alt="Ubicación"
          class="h-10 w-8"
        />
        <span>Hermanos Villarán 112</span>
      </div>

      <!-- Teléfono -->
      <div class="mt-10 flex font-poppins text-black items-center gap-3 text-2xl">
        <img
          src="/icons/TELEFONO.png"
          alt="Teléfono"
          class="h-10 w-10"
        />
        <span>(511) 501-7488 / (511) 501-748</span>
      </div>


     <!-- LINKS CENTRALES -->
      <div class="absolute inset-0 flex top-40 items-center justify-center z-10">
        <div class="font-myriad text-lg text-black text-left">
          <a class="block hover:underline cursor-pointer">Blog</a>
          <a class="block hover:underline cursor-pointer">Servicios</a>
          <a class="block hover:underline cursor-pointer">Nosotros</a>
          <a class="block hover:underline cursor-pointer">Portafolio</a>
          <a class="block hover:underline cursor-pointer">Oportunidad laboral</a>
          <a class="block hover:underline cursor-pointer">Contáctanos</a>
        </div>
      </div>

      <!-- BLOQUE DERECHO -->
      <div class="absolute right-30 top-0 h-full flex flex-col items-end pr-16 z-10 overflow-visible">

        <!-- Bot flotante (mucho más grande y más abajo) -->
        <img
          src="/images/bot/bot.png"
          alt="Nouz Bot"
          class="
            absolute
            -top-10
            right-0
            w-[620px]
            object-contain
            pointer-events-none
          "
        />

        <!-- Redes sociales (todavía más abajo) -->
        <div class="mt-[390px] flex gap-6">
          <img src="/icons/X.png" class="w-8 h-8 cursor-pointer hover:scale-110 transition" />
          <img src="/icons/Youtube.png" class="w-12 h-8 cursor-pointer hover:scale-110 transition" />
          <img src="/icons/Facebook.png" class="w-5 h-8 cursor-pointer hover:scale-110 transition" />
          <img src="/icons/Instagram.png" class="w-8 h-8 cursor-pointer hover:scale-110 transition" />
          <img src="/icons/Tiktok.png" class="w-8 h-8 cursor-pointer hover:scale-110 transition" />
          <img src="/icons/Linkedin.png" class="w-8 h-8 cursor-pointer hover:scale-110 transition" />
        </div>

      </div>

      <!-- FOOTER LEGAL -->
      <div class="w-full pt-35 text-center text-3x1 text-black font-poppins py-6">
        &copy; {{ currentYear }} Bartech. Todos los derechos reservados. 
        <a href="#" class="hover:underline">Políticas y privacidad</a> | 
        <a href="#" class="hover:underline">Políticas de cookies</a>
      </div>

    </div>
  </div>
</div>
