<div class="w-full flex justify-center">
  <div class="w-full p-0">
    <form
      *ngIf="formData"
      [formGroup]="formData"
      (ngSubmit)="guardar()"
      class="space-y-4 w-full rounded-xl"
    >
      <p-fieldset legend="Información básica">
        <div class="grid grid-cols-1 gap-4">
          <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
            <!-- Nombre -->
            <div>
              <label for="name" class="block text-sm font-medium mb-1"
                >Nombre <span class="text-xs">*</span></label
              >
              <input
                id="name"
                type="text"
                pInputText
                formControlName="name"
                placeholder="Ingrese nombre"
                class="w-full"
              />
            </div>

            <!-- Descripción -->
            <div>
              <label for="description" class="block text-sm font-medium mb-1"
                >Descripción <span class="text-xs">*</span></label
              >
              <textarea
                id="description"
                rows="3"
                formControlName="description"
                placeholder="Ingrese descripción"
                class="w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 text-sm p-2 resize-none"
              ></textarea>
            </div>
          </div>

          <div class="flex items-center justify-center gap-4">
            <!-- Fecha inicio -->
            <div>
              <label for="startDate" class="block text-sm font-medium mb-1"
                >Fecha de inicio <span class="text-xs">*</span></label
              >
              <p-datepicker
                id="startDate"
                formControlName="startDate"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                appendTo="body"
              ></p-datepicker>
            </div>

            <!-- Fecha fin -->
            <div>
              <label for="endDate" class="block text-sm font-medium mb-1"
                >Fecha de fin <span class="text-xs">*</span></label
              >
              <p-datepicker
                id="endDate"
                formControlName="endDate"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                appendTo="body"
              ></p-datepicker>
            </div>

            <!-- Fecha Vigencia -->
            <div>
              <label for="validUntil" class="block text-sm font-medium mb-1"
                >Fecha de vigencia <span class="text-xs">*</span></label
              >
              <p-datepicker
                id="validUntil"
                formControlName="validUntil"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                appendTo="body"
              ></p-datepicker>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <div>
              <label
                for="campaignStateId"
                class="block text-sm font-medium mb-1"
                >Estado <span class="text-xs">*</span></label
              >
              <p-dropdown
                [options]="estadoCampanias"
                formControlName="campaignStateId"
                optionLabel="name"
                optionValue="id"
                placeholder="Seleccionar Estado"
                class="w-full mb-3"
                appendTo="body"
              ></p-dropdown>
            </div>

            <div>
              <label for="departmentId" class="block text-sm font-medium mb-1"
                >Área <span class="text-xs">*</span></label
              >
              <p-dropdown
                [options]="departmentList"
                formControlName="departmentId"
                optionLabel="name"
                optionValue="id"
                placeholder="Seleccionar Área"
                class="w-full mb-3"
                appendTo="body"
              ></p-dropdown>
            </div>
            <!--
            <div>
              <label for="campaignTypeId" class="block text-sm font-medium mb-1"
                >Tipo de Campaña <span class="text-xs">*</span></label
              >
              <div class="flex flex-wrap gap-4">
                <div
                  *ngFor="let item of tiposCampanias"
                  class="flex items-center"
                >
                  <p-radiobutton
                    [value]="item.id"
                    formControlName="campaignTypeId"
                    inputId="ingredient1{{ item.id }}"
                  />
                  <label for="ingredient1{{ item.id }}" class="ml-2">{{
                    item.name
                  }}</label>
                </div>
              </div>
              *ngIf="formData.value.campaignTypeId == 3"
            </div>
            -->

            <!-- ID VICIDIAL -->
            <div>
              <label for="vdCampaignId" class="block text-sm font-medium mb-1">
                Id Campaña VICIDIAL <span class="text-xs">*</span>
              </label>
              <input
                id="vdCampaignId"
                pKeyFilter="int"
                pInputText
                formControlName="vdCampaignId"
                [disabled]="editarCampania"
                placeholder="Ingrese un Id"
                class="w-full"
              />
            </div>

            <!-- Horario inicio -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <label for="startTime" class="block text-sm font-medium mb-2">
                  Horario de inicio
                </label>
                <p-datepicker
                  id="startTime"
                  formControlName="startTime"
                  [timeOnly]="true"
                  hourFormat="24"
                  [showIcon]="true"
                  appendTo="body"
                  inputStyleClass="p-inputtext-sm custom-calendar-input"
                ></p-datepicker>
              </div>

              <!-- Horario fin -->
              <div>
                <label for="endTime" class="block text-sm font-medium mb-2">
                  Horario de fin
                </label>
                <p-datepicker
                  id="endTime"
                  formControlName="endTime"
                  [timeOnly]="true"
                  hourFormat="24"
                  [showIcon]="true"
                  appendTo="body"
                  inputStyleClass="p-inputtext-sm custom-calendar-input"
                ></p-datepicker>
              </div>
            </div>

            <!-- Día de inicio -->
            <div>
              <label for="startDay" class="block text-sm font-medium mb-1">
                Día de inicio
              </label>
              <p-dropdown
                inputId="startDay"
                formControlName="startDay"
                [options]="daysWeek()"
                optionLabel="name"
                optionValue="number"
                placeholder="Seleccionar día de inicio"
                class="w-full"
                appendTo="body"
              >
              </p-dropdown>
            </div>

            <!-- Día de fin -->
            <div>
              <label for="endDay" class="block text-sm font-medium mb-1">
                Día de fin
              </label>
              <p-dropdown
                inputId="endDay"
                formControlName="endDay"
                [options]="daysWeek()"
                optionLabel="name"
                optionValue="number"
                placeholder="Seleccionar día de fin"
                class="w-full"
                appendTo="body"
              >
              </p-dropdown>
            </div>

            <div class="flex flex-col gap-1">
              <!-- Etiqueta arriba -->
              <label for="applyHolidays" class="block text-sm font-medium mb-1">
                Feriados
              </label>

              <!-- Checkbox + descripción -->
              <div class="flex items-center gap-2">
                <p-checkbox
                  formControlName="applyHoliday"
                  inputId="applyHolidays"
                  binary="true"
                >
                </p-checkbox>

                <span class="text-xs text-gray-600 italic">
                  (los feriados declarados en el módulo de ajustes se aplicarán
                  a esta campaña)
                </span>
              </div>
            </div>
          </div>
        </div>
      </p-fieldset>

      <!-- Botones -->
      <div class="pt-4 flex justify-end space-x-2">
        <button-cancel (click)="onCancel()" />
        <p-button
          type="submit"
          size="small"
          [label]="id ? 'Actualizar' : 'Guardar'"
          styleClass="w-full !rounded-full !shadow-none"
          severity="primary"
          [disabled]="formData.invalid"
        >
          <iconify-icon icon="ci:save" class="text-xl"></iconify-icon>
        </p-button>
      </div>
    </form>
  </div>
</div>
