<div class="w-full flex justify-center">
  <div class="w-full px-3">
    <div class="flex flex-col gap-4">
      <!-- Encabezado -->
      <div class="bg-terciario shadow rounded-[30px] p-4">
        <div class="flex justify-between items-center">
          <!-- Texto a la izquierda -->
          <div>
            <h5 class="text-2xl font-semibold mb-1 ml-2 text-accent">Campañas de Correo</h5>
            <div class="flex flex-col w-full gap-3 text-n-slate-11">
              <p
                class="mb-0 ml-2 text-sm font-normal line-clamp-5 sm:line-clamp-none max-w-3xl text-gray-600"
              >
                Las campañas por correo te permiten enviar correos masivos y
                personalizados a los ciudadanos.
              </p>
            </div>
          </div>

          <!-- Botones a la derecha -->
          <div class="flex gap-2">
            <button
              pButton
              type="button"
              (click)="openNew()"
              class="
                bg-cuaternario
                !text-black
                hover:bg-accent-7
                hover:!text-white
                !rounded-full
                transition-all
                duration-200
                flex
                items-center
                gap-2
                px-4
                py-2
              ">
              <iconify-icon
                icon="mdi:plus-circle-outline"
                class="text-lg text-inherit"
              ></iconify-icon>

              <span class="font-medium">
                Nueva Campaña - Correo
              </span>
            </button>
            <!-- <button-save
              label="Plantillas - Correo"
              [icon]="'mdi:plus-circle-outline'"
              (click)="openTemplate()"
            /> -->
          </div>
        </div>
      </div>

      <section class="h-[calc(100vh-17rem)] overflow-y-auto rounded-[30px]">
        <complete-table
          [cols]="cols"
          [orderBy]="orderBy"
          [dataTable]="listaCampaniasSMS"
          [total]="totalItems"
          [limit]="limit()"
          [offset]="offset()"
          (actionClicked)="onTableAction($event)"
          (searchChange)="searchChange($event)"
        />
      </section>

      <!-- Tabla -->
      <!-- <section class="w-full mt-0 shadow rounded-xl p-4 bg-terciario">
        <p-table
          [value]="listaCampaniasSMS"
          [rows]="10"
          [responsiveLayout]="'scroll'"
          sortMode="multiple"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                <div class="flex items-center text-xs uppercase gap-4">
                  ID <p-sortIcon field="name" />
                </div>
              </th>
              <th pSortableColumn="description">
                <div class="flex items-center text-xs uppercase gap-4">
                  Nombre <p-sortIcon field="description" />
                </div>
              </th>
              <th pSortableColumn="createdByUser.name">
                <div class="flex items-center text-xs uppercase gap-4">
                  Plantilla<p-sortIcon field="createdByUser.name" />
                </div>
              </th>
              <th>
                <div
                  class="flex justify-center items-center text-xs uppercase gap-4"
                >
                  Opcional #4
                </div>
              </th>
              <th class="items-center" pSortableColumn="amount">
                <div
                  class="flex justify-center items-center text-xs uppercase gap-4"
                >
                  Registros <p-sortIcon field="amount" />
                </div>
              </th>
              <th class="items-center" pSortableColumn="amount">
                <div
                  class="flex justify-center items-center text-xs uppercase gap-4"
                >
                  Cargada <p-sortIcon field="amount" />
                </div>
              </th>
              <th class="items-center">
                <div
                  class="flex justify-center items-center text-xs uppercase gap-4"
                >
                  Estado
                </div>
              </th>
              <th class="items-center">
                <div
                  class="flex justify-center items-center text-xs uppercase gap-4"
                ></div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <p class="text-sm font-light">{{ item.id }}</p>
              </td>
              <td>
                <p class="text-sm font-light">{{ item.name }}</p>
              </td>
              <td>
                <p class="text-sm font-light">{{ item.template?.name }}</p>
              </td>
              <td>
                <p class="text-sm font-light">
                  {{ item.idRemitente }}
                </p>
              </td>
              <td>
                <div class="flex justify-center items-center">
                  <p class="text-sm font-light text-center">
                    {{ item.totalRegistered }} / {{ item.totalRegistered }}
                  </p>
                </div>
              </td>
              <td>
                <p class="text-sm font-light text-center">
                  {{ item.createdAt }}
                </p>
              </td>
              <td>
                <p class="text-sm font-light text-center">
                  <p-tag
                    [value]="getStatusLabel(item.campaignStatus)"
                    [severity]="getStatusSeverity(item.campaignStatus)"
                  ></p-tag>
                </p>
              </td>

              <td class="w-28">
                <div class="flex justify-center items-center gap-1">
                  <button-count (click)="verResultados(item)" />
                  <btn-delete (click)="remove(item)" />
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #emptymessage>
            <tr>
              <td colspan="100">
                <div class="text-center text-sm font-light p-4">
                  No hay campañas de correo creados.
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #footer>
            <tr>
              <td colspan="100">
                <div class="flex justify-center items-center">
                  <sat-paginator
                    [totalItems]="total()"
                    [limit]="limit()"
                    [offset]="offset()"
                    [limitOptions]="[10, 25, 50]"
                    (pageChange)="onPageChange($event)"
                  />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </section> -->
    </div>
  </div>
</div>

<p-dialog
  header="Correos Enviados"
  [(visible)]="visible"
  [modal]="true"
  styleClass="modal-6xl"
>
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Correos Enviados</span>
    </div>
  </ng-template>
  <div>
    <p-table
      [value]="listPreview"
      [responsiveLayout]="'scroll'"
      sortMode="multiple"
      styleClass="table-header-light "
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="w-30">
            <div class="flex items-center text-xs uppercase gap-4 text-center">
              Correo Destino
            </div>
          </th>
          <th class="w-150">
            <div
              class="flex items-center justify-center text-xs uppercase gap-4"
            >
              Asunto
            </div>
          </th>
          <!-- <th class="w-30">
            <div
              class="flex items-center justify-center text-xs uppercase gap-4 text-center"
            >
              Número de letras
            </div>
          </th> -->
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>
            <p class="text-sm font-light text-center">{{ item.to }}</p>
          </td>
          <td>
            <p class="text-sm font-light text-center">{{ item.subject }}</p>
          </td>
          <!-- <td>
            <p class="text-sm font-light text-center">
              {{ item.message.length }}
            </p>
          </td> -->
          <td>
            <button
              pButton
              label="Ver Correo"
              icon="pi pi-eye"
              class="p-button-text p-button-sm"
              (click)="showTemplate(item)"
            ></button>
          </td>
          <td>
            <iconify-icon
              icon="pepicons-pop:checkmark-filled"
              class="text-green-500 text-xl"
            ></iconify-icon>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="100">
            <div class="text-center text-sm font-light p-4">
              No existen registros.
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #footer>
        <tr>
          <td colspan="100">
            <div class="flex justify-center items-center">
              <sat-paginator
                [totalItems]="totalItems"
                [limit]="limit()"
                [offset]="offset()"
                [limitOptions]="[10, 25, 50, 100]"
                (pageChange)="onPageChange($event)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- <ng-template #footer>
    <div>
      <button-cancel label="Cerrar" [text]="true" (click)="visible = false" />
    </div>
  </ng-template> -->
</p-dialog>

<p-dialog
  header="Vista previa del Correo"
  [(visible)]="visibleTemplate"
  [modal]="true"
>
  <div [innerHTML]="selectedMessage"></div>
</p-dialog>

<style>
  ::ng-deep .p-dialog-content {
    padding-bottom: 0rem;
  }
</style>
