<div class="grid grid-cols-1 gap-4">
  <!-- Encabezado -->
  <div class="shadow-lg !rounded-[30px] p-4 bg-gray-50">
    <div class="flex justify-between">
      <h5 class="text-2xl font-semibold mb-1 ml-2 text-accent">Panel de Monitoreo</h5>
    </div>

    <div class="flex flex-col w-full gap-3 text-n-slate-11">
      <p
        class="mb-0 ml-2 text-sm font-normal line-clamp-5 sm:line-clamp-none max-w-3xl text-gray-600"
      >
        Revisión de los estados de comunicación de los asesores.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <!-- Box 1 - ALÓ SAT no tiene endpoint -->
    <p-card styleClass="h-full">
      <div class="grid grid-cols-1 gap-1">
        <div class="grid grid-cols-1">
          <h3 class="text-lg font-semibold text-gray-700">Llamadas</h3>
          <p class="font-normal text-xs italic">
            {{ aloSatTotal ?? "0" }} llamadas totales
          </p>
        </div>
        <!-- Si hay datos, mostrarlos -->
        <div class="ps-4">
          @for (item of aloSatCount; track $index) {
          <div class="flex items-center gap-2">
            <p class="text-xl font-medium">
              {{ item.total }}
            </p>
            <p class="text-sm text-gray-500">{{ item.callStateName }}</p>
          </div>
          }
        </div>

        <!-- Template de carga -->
        <ng-template #loadingAloSat>
          <p class="text-gray-400 text-sm">Cargando datos de Llamadas...</p>
        </ng-template>
      </div>
    </p-card>

    <!-- Box 2 - CORREO -->
    <p-card styleClass="h-full">
      <div class="grid grid-cols-1 gap-2">
        <h3 class="text-lg font-semibold text-gray-700 ml-4">Correo</h3>
        <div class="space-y-1 px-4" *ngIf="mailCount; else loadingMail">
          <p class="text-xs text-gray-700 italic">Recibidos anteriores</p>
          <div class="ps-4">
            <div class="flex items-center gap-2">
              <p class="text-xl font-medium">
                {{ mailCount.notAttendedPrev ?? "0" }}
              </p>
              <p class="text-sm text-gray-500">Pendientes</p>
            </div>
            <div class="flex items-center gap-2">
              <p class="text-xl font-medium">
                {{ mailCount.attendedPrevCount ?? "0" }}
              </p>
              <p class="text-sm text-gray-500">Atendidos hoy</p>
            </div>
          </div>
          <p class="text-xs text-gray-700 italic">Recibidos hoy</p>
          <div class="ps-4">
            <div class="flex items-center gap-2">
              <p class="text-xl font-medium">
                {{ mailCount.notAttendedToday ?? "0" }}
              </p>
              <p class="text-sm text-gray-500">Pendientes</p>
            </div>
            <div class="flex items-center gap-2">
              <p class="text-xl font-medium">
                {{ mailCount.attendedCount ?? "0" }}
              </p>
              <p class="text-sm text-gray-500">Atendidos hoy</p>
            </div>
          </div>
        </div>
        <ng-template #loadingMail>
          <p class="text-gray-400 text-sm">Cargando datos de Correo...</p>
        </ng-template>
      </div>
    </p-card>

    <!-- Box 3 - CHAT SAT -->
    <p-card styleClass="h-full">
      <div class="grid grid-cols-1 gap-2">
        <h3 class="text-lg font-semibold text-gray-700 ml-4">Chat</h3>
        <div class="space-y-1 px-4" *ngIf="chatCount; else loadingChat">
          <div class="flex items-center gap-2">
            <p class="text-xl font-medium">
              {{ chatCount.inQueque ?? "0" }}
            </p>
            <p class="text-sm text-gray-500">En cola</p>
          </div>
          <div class="flex items-center gap-2">
            <p class="text-xl font-medium">
              {{ chatCount.complete ?? "0" }}
            </p>
            <p class="text-sm text-gray-500">Atendidos</p>
          </div>
          <div class="flex items-center gap-2">
            <p class="text-xl font-medium">
              {{ chatCount.inComplete ?? "0" }}
            </p>
            <p class="text-sm text-gray-500">Sin atender</p>
          </div>
          <div class="flex items-center gap-2">
            <p class="text-xl font-medium">
              {{ chatCount.total ?? "0" }}
            </p>
            <p class="text-sm text-gray-500">Total</p>
          </div>
        </div>
        <ng-template #loadingChat>
          <p class="text-gray-400 text-sm">Cargando datos de Chat...</p>
        </ng-template>
      </div>
    </p-card>

    <!-- Box 4 - CHATBOT -->
    <p-card styleClass="h-full">
      <div class="grid grid-cols-1 gap-2">
        <h3 class="text-lg font-semibold text-gray-700 ml-4">Chatbot</h3>
        <div class="space-y-1 px-4" *ngIf="wspCount; else loadingChatbot">
          <div class="flex items-center gap-2">
            <p class="text-xl font-medium">
              {{ wspCount.botCount ?? "0" }}
            </p>
            <p class="text-sm text-gray-500">Atendidos Bot</p>
          </div>
          <div class="flex items-center gap-2">
            <p class="text-xl font-medium">
              {{ wspCount.agentCount ?? "0" }}
            </p>
            <p class="text-sm text-gray-500">Atendidos por Agente</p>
          </div>
          <div class="flex items-center gap-2">
            <p class="text-xl font-medium">
              {{ wspCount.total ?? "0" }}
            </p>
            <p class="text-sm text-gray-500">Total</p>
          </div>
        </div>
        <ng-template #loadingChatbot>
          <p class="text-gray-400 text-sm">Cargando datos del Chatbot...</p>
        </ng-template>
      </div>
    </p-card>
  </div>

  <!-- Segunda fila -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    <!-- Caja 5 -->
    <p-card styleClass="h-full">
      <div class="flex flex-col justify-center items-center">
        <p class="text-sm font-semibold text-gray-600">Agentes logueados:</p>
        <p class="text-3xl font-bold text-accent">
          {{ usersOnline ?? "0" }}
        </p>
      </div>
    </p-card>

    <!-- Caja 6 -->
    <p-card styleClass="h-full">
      <div class="flex flex-col justify-center items-center">
        <p class="text-sm font-semibold text-gray-600">Agentes en atención:</p>
        <p class="text-3xl font-bold text-[#96D6D5]">
          {{ usersIncall ?? "0" }}
        </p>
      </div>
    </p-card>

    <!-- Caja 7 -->
    <p-card styleClass="h-full">
      <div class="flex flex-col justify-center items-center">
        <p class="text-sm font-semibold text-gray-600">Agentes disponibles:</p>
        <p class="text-3xl font-bold text-[#EBD3D1]">
          {{ usersReady ?? "0" }}
        </p>
      </div>
    </p-card>
    <!-- Caja 6 -->
    <p-card styleClass="h-full">
      <div class="flex flex-col justify-center items-center">
        <p class="text-sm font-semibold text-gray-600">Agentes en pausa:</p>
        <p class="text-3xl font-bold text-[#2A57E6]">
          {{ usersInPause ?? "0" }}
        </p>
      </div>
    </p-card>
  </div>

  <!-- TABLAS -->
  <p-card styleClass="h-full">
    <p-tabs lazy [value]="viewValue()" class="custom-tabs">
      <p-tablist class="flex items-center justify-around">
        <p-tab
          [value]="'alosat'"
          class="flex items-center"
          (click)="changeView('alosat')"
        >
          <!-- AlóSat -->
          <iconify-icon [icon]="'line-md:phone-call-loop'" class="text-xl" />
          <span>Llamadas</span>
        </p-tab>
        <p-tab
          [value]="'email'"
          class="flex items-center"
          (click)="changeView('email')"
        >
          <iconify-icon [icon]="'line-md:email'" class="text-xl" />
          <span>Correo</span>
        </p-tab>
        <p-tab
          [value]="'chatsat'"
          class="flex items-center"
          (click)="changeView('chatsat')"
        >
          <iconify-icon [icon]="'line-md:chat'" class="text-xl" />
          <span>Chat</span>
        </p-tab>
        <p-tab
          [value]="'whatsapp'"
          class="flex items-center"
          (click)="changeView('whatsapp')"
        >
          <iconify-icon [icon]="'mdi:robot-outline'" class="text-xl" />
          <span>WhatsApp</span>
        </p-tab>
      </p-tablist>

      <!-- TABLAS -->
      <p-tabpanels>
        <!-- ALÓ SAT -->
        <p-tabpanel [value]="'alosat'">
          <p-table 
            [value]="userList"
            styleClass="table-header-light "
          >
            <ng-template #header>
              <tr>
                <th>
                  <div
                    class="flex justify-start items-center text-xs uppercase"
                  >
                    Asesor
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Estado
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Tiempo estado
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Tiempo total de llamada
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Número
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Promedio tiempo atención
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Efectividad
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Aprobación
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Detalles
                  </div>
                </th>

                <th class="w-36">
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  ></div>
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-item>
              <tr>
                <td>
                  <div class="flex justify-start text-sm">
                    {{ item.user?.displayName }}
                  </div>
                </td>
                <td>
                  <div
                    [ngClass]="[
                      'flex justify-center items-center gap-2 text-sm text-center',
                      item.state.textColor
                    ]"
                  >
                    <iconify-icon [icon]="item.state.icon" class="text-2xl" />
                    <span>{{ item.state.label }}</span>
                  </div>
                </td>
                <td>
                  <div class="flex items-center justify-center text-sm">
                    {{ item.isOffline ? "-" : (item.updatedAt | timeElapsed) }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.tiempoTotalLlamadas | duration }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.phoneLogin }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.average | duration }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.efectividad | percent }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.aprobacion | percent }}
                  </div>
                </td>
                <td class="border p-2 relative">
                  <div class="flex justify-center gap-2">
                    <btn-custom
                      severity="info"
                      [text]="false"
                      [outlined]="true"
                      label="Atenciones"
                      (click)="loadAttentionDetail(item.user.id, $event)"
                    />
                    <btn-custom
                      severity="success"
                      [text]="false"
                      [outlined]="true"
                      label="Estados"
                      (click)="loadStateDetails(item.user.id, 1, $event)"
                    />

                    <!-- <div class="relative">
                      <button
                        (click)="togglePopup(i, 'atenciones', item.user.id)"
                        class="flex items-center gap-2 rounded-full border border-blue-600 px-3 py-1 text-xs font-medium shadow-sm text-blue-600 hover:bg-blue-100 transition"
                      >
                        Atenciones
                      </button>
                      <div
                        *ngIf="
                          popupActivo?.index === i &&
                          popupActivo?.tipo === 'atenciones'
                        "
                        class="absolute right-10 mt-2 w-72 bg-terciario border border-gray-300 shadow-lg rounded-lg p-3 text-sm z-50"
                      >
                        <div
                          *ngIf="
                            !loadingAttentionDetail && attentionDetail;
                            else loadingAtencion
                          "
                        >
                          <table class="table-auto w-full border text-xs">
                            <thead class="bg-blue-50">
                              <tr>
                                <th
                                  colspan="2"
                                  class="text-center font-semibold py-1 border-b"
                                >
                                  Detalle de Atenciones
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Aló SAT
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.alosat }}
                                </td>
                              </tr>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Correo
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.recievedCount }}
                                </td>
                              </tr>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Chat
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.chat }}
                                </td>
                              </tr>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Chatbot
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.chatbot }}
                                </td>
                              </tr>
                              <tr>
                                <td
                                  class="py-1 px-2 font-semibold text-gray-900"
                                >
                                  Total
                                </td>
                                <td
                                  class="py-1 px-2 font-semibold text-right text-blue-700"
                                >
                                  {{ attentionDetail.count }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <ng-template #loadingAtencion>
                          <p class="text-gray-400 text-xs text-center py-3">
                            Cargando datos...
                          </p>
                        </ng-template>

                        <button
                          (click)="cerrarPopup()"
                          class="mt-3 w-full text-xs text-gray-500 hover:text-gray-700 border-t pt-2"
                        >
                          Cerrar
                        </button>
                      </div>
                    </div>

                    <div class="relative">
                      <button
                        (click)="togglePopup(i, 'estados', item.user.id)"
                        class="flex items-center gap-2 rounded-full border border-green-600 px-4 py-1 text-sm font-medium shadow-sm text-green-600 hover:bg-green-100 transition"
                      >
                        Estado
                      </button>
                    </div> -->
                  </div>
                </td>
                <td>
                  <btn-custom
                    severity="danger"
                    label="Cerrar Sesión"
                    [disabled]="item.isOffline"
                    (click)="logoutUser(item.user)"
                  />
                </td>
              </tr>
            </ng-template>
            <ng-template #emptymessage>
              <tr>
                <td colspan="100">
                  <div class="text-center text-sm font-light p-4">
                    No se encontraron asesores de Llamadas.
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabpanel>

        <!-- CORREO -->
        <p-tabpanel [value]="'email'">
          <p-table 
            [value]="mailAdvisors"
            styleClass="table-header-light "
          >
            <ng-template #header>
              <tr>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Asesor
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Atenciones completadas
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Efectividad
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Detalles
                  </div>
                </th>

                <th class="w-36">
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Estado
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-item>
              <tr>
                <td>
                  <div class="flex justify-start text-sm">
                    {{ item.displayName }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.closedAttentions }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.percentage }}%
                  </div>
                </td>

                <td>
                  <!-- BOTÓN ATENCIONES -->
                  <div class="flex justify-center gap-2">
                    <btn-custom
                      severity="info"
                      [text]="false"
                      [outlined]="true"
                      label="Atenciones"
                      (click)="loadAttentionDetail(item.userId, $event)"
                    />
                    <btn-custom
                      severity="success"
                      [text]="false"
                      [outlined]="true"
                      label="Estados"
                      (click)="loadStateDetails(item.userId, 2, $event)"
                    />
                  </div>
                </td>
                <td>
                  <p-select
                    id="userStateId"
                    [options]="userMailStates"
                    optionLabel="name"
                    optionValue="id"
                    [(ngModel)]="item.channelStateId"
                    class="!rounded-full min-w-48"
                    placeholder="Estado"
                    (onChange)="changeEmailState(item.userId, $event.value)"
                    appendTo="body"
                  />
                </td>
              </tr>
            </ng-template>
            <ng-template #emptymessage>
              <tr>
                <td colspan="100">
                  <div class="text-center text-sm font-light p-4">
                    No se encontraron asesores asignados a Email.
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabpanel>

        <!-- CHAT SAT -->
        <p-tabpanel [value]="'chatsat'">
          <!-- <table
            class="table-auto w-full border-collapse border border-gray-300 text-sm"
          >
            <thead class="bg-yellow-100">
              <tr>
                <th class="border p-2">Canal</th>
                <th class="border p-2">Asesor</th>
                <th class="border p-2">Promedio atención</th>
                <th class="border p-2">Efectividad</th>
                <th class="border p-2">Atenciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of chatAdvisors; let i = index">
                <td class="border p-2">Chat</td>
                <td class="border p-2">{{ item.name }}</td>
                <td class="border p-2">{{ item.avgDurationMinutes }} min</td>
                <td class="border p-2">{{ item.percentage }}%</td>
                <td class="border p-2 relative">
                  <div class="flex gap-2">
                    <div class="relative">
                      <button
                        (click)="togglePopup(i, 'atenciones', item.userId)"
                        class="flex items-center gap-2 rounded-full border border-blue-600 px-3 py-1 text-xs font-medium shadow-sm text-blue-600 hover:bg-blue-100 transition"
                      >
                        Atenciones
                      </button>

                      <div
                        *ngIf="
                          popupActivo?.index === i &&
                          popupActivo?.tipo === 'atenciones'
                        "
                        class="absolute right-10 mt-2 w-72 bg-terciario border border-gray-300 shadow-lg rounded-lg p-3 text-sm z-50"
                      >
                        <div
                          *ngIf="
                            !loadingAttentionDetail && attentionDetail;
                            else loadingAtencion
                          "
                        >
                          <table class="table-auto w-full border text-xs">
                            <thead class="bg-blue-50">
                              <tr>
                                <th
                                  colspan="2"
                                  class="text-center font-semibold py-1 border-b"
                                >
                                  Detalle de Atenciones
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Aló SAT
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.alosat }}
                                </td>
                              </tr>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Correo
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.recievedCount }}
                                </td>
                              </tr>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Chat
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.chat }}
                                </td>
                              </tr>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Chatbot
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.chatbot }}
                                </td>
                              </tr>
                              <tr>
                                <td
                                  class="py-1 px-2 font-semibold text-gray-900"
                                >
                                  Total
                                </td>
                                <td
                                  class="py-1 px-2 font-semibold text-right text-blue-700"
                                >
                                  {{ attentionDetail.count }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <ng-template #loadingAtencion>
                          <p class="text-gray-400 text-xs text-center py-3">
                            Cargando datos...
                          </p>
                        </ng-template>

                        <button
                          (click)="cerrarPopup()"
                          class="mt-3 w-full text-xs text-gray-500 hover:text-gray-700 border-t pt-2"
                        >
                          Cerrar
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table> -->
          <p-table 
            [value]="chatAdvisors"
            styleClass="table-header-light "
          >
            <ng-template #header>
              <tr>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Asesor
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Promedio atención
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Efectividad
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Aprobación
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Detalles
                  </div>
                </th>
                <th class="w-36">
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Estado
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-item>
              <tr>
                <td>
                  <div class="flex justify-start text-sm">
                    {{ item.name }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.avgDurationMinutes }} min
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.percentage }}%
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.approval | percent }}
                  </div>
                </td>

                <td>
                  <div class="flex justify-center gap-2">
                    <btn-custom
                      severity="info"
                      [text]="false"
                      [outlined]="true"
                      label="Atenciones"
                      (click)="loadAttentionDetail(item.userId, $event)"
                    />
                    <btn-custom
                      severity="success"
                      [text]="false"
                      [outlined]="true"
                      label="Estados"
                      (click)="loadStateDetails(item.userId, 3, $event)"
                    />
                  </div>
                </td>
                <td>
                  <p-select
                    id="userStateId"
                    [options]="userChatStates"
                    optionLabel="name"
                    optionValue="id"
                    [(ngModel)]="item.channelStateId"
                    class="!rounded-full min-w-48"
                    placeholder="Estado"
                    (onChange)="changeChatState(item.userId, $event.value)"
                    appendTo="body"
                  />
                </td>
              </tr>
            </ng-template>
            <ng-template #emptymessage>
              <tr>
                <td colspan="100">
                  <div class="text-center text-sm font-light p-4">
                    No se encontraron asesores asignados a Chat.
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabpanel>

        <!-- WHATSAPP -->
        <p-tabpanel [value]="'whatsapp'">
          <!-- <table
            class="table-auto w-full border-collapse border border-gray-300 text-sm"
          >
            <thead class="bg-green-100">
              <tr>
                <th class="border p-2">Canal</th>
                <th class="border p-2">Asesor</th>
                <th class="border p-2">Teléfono</th>
                <th class="border p-2">Promedio atención</th>
                <th class="border p-2">Duración total</th>
                <th class="border p-2">Efectividad</th>
                <th class="border p-2">Atenciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of wspAdvisors; let i = index">
                <td class="border p-2">WhatsApp</td>
                <td class="border p-2">{{ item.name }}</td>
                <td class="border p-2">{{ item.phoneNumber }}</td>
                <td class="border p-2">{{ item.avgDurationMinutes }} min</td>
                <td class="border p-2">
                  {{ item.totalDurationMinutes }} min
                </td>
                <td class="border p-2">{{ item.percentage }}%</td>
                <td class="border p-2 relative">
                  <div class="flex gap-2">
                    <div class="relative">
                      <button
                        (click)="togglePopup(i, 'atenciones', item.userId)"
                        class="flex items-center gap-2 rounded-full border border-blue-600 px-3 py-1 text-xs font-medium shadow-sm text-blue-600 hover:bg-blue-100 transition"
                      >
                        Atenciones
                      </button>

                      <div
                        *ngIf="
                          popupActivo?.index === i &&
                          popupActivo?.tipo === 'atenciones'
                        "
                        class="absolute right-10 mt-2 w-72 bg-terciario border border-gray-300 shadow-lg rounded-lg p-3 text-sm z-50"
                      >
                        <div
                          *ngIf="
                            !loadingAttentionDetail && attentionDetail;
                            else loadingAtencion
                          "
                        >
                          <table class="table-auto w-full border text-xs">
                            <thead class="bg-blue-50">
                              <tr>
                                <th
                                  colspan="2"
                                  class="text-center font-semibold py-1 border-b"
                                >
                                  Detalle de Atenciones
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Aló SAT
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.alosat }}
                                </td>
                              </tr>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Correo
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.recievedCount }}
                                </td>
                              </tr>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Chat
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.chat }}
                                </td>
                              </tr>
                              <tr class="border-b">
                                <td class="py-1 px-2 font-medium text-gray-700">
                                  Chatbot
                                </td>
                                <td class="py-1 px-2 text-right">
                                  {{ attentionDetail.chatbot }}
                                </td>
                              </tr>
                              <tr>
                                <td
                                  class="py-1 px-2 font-semibold text-gray-900"
                                >
                                  Total
                                </td>
                                <td
                                  class="py-1 px-2 font-semibold text-right text-blue-700"
                                >
                                  {{ attentionDetail.count }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <ng-template #loadingAtencion>
                          <p class="text-gray-400 text-xs text-center py-3">
                            Cargando datos...
                          </p>
                        </ng-template>

                        <button
                          (click)="cerrarPopup()"
                          class="mt-3 w-full text-xs text-gray-500 hover:text-gray-700 border-t pt-2"
                        >
                          Cerrar
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table> -->

          <p-table 
            [value]="wspAdvisors"
            styleClass="table-header-light "
          >
            <ng-template #header>
              <tr>
                <th>
                  <div
                    class="flex justify-start items-center text-xs uppercase"
                  >
                    Asesor
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Teléfono
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Promedio atención
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Duración total
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Efectividad
                  </div>
                </th>
                <th>
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Detalles
                  </div>
                </th>
                <th class="w-36">
                  <div
                    class="flex justify-center items-center text-xs uppercase"
                  >
                    Estado
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-item>
              <tr>
                <td>
                  <div class="flex justify-start text-sm">
                    {{ item.name }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.phoneNumber }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.avgDurationMinutes }} min
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.totalDurationMinutes | duration }}
                  </div>
                </td>
                <td>
                  <div class="flex justify-center text-sm">
                    {{ item.percentage }}%
                  </div>
                </td>
                <!-- <td>
                  <div class="flex justify-center text-sm">
                    {{ item.average | duration }}
                  </div>
                </td> -->
                <!-- <td>
                  <div class="flex justify-center text-sm">
                    {{ item.efectividad | percent }}
                  </div>
                </td> -->
                <td class="border p-2 relative">
                  <div class="flex justify-center gap-2">
                    <btn-custom
                      severity="info"
                      [text]="false"
                      [outlined]="true"
                      label="Atenciones"
                      (click)="loadAttentionDetail(item.userId, $event)"
                    />
                    <btn-custom
                      severity="success"
                      [text]="false"
                      [outlined]="true"
                      label="Estados"
                      (click)="loadStateDetails(item.userId, 4, $event)"
                    />
                  </div>
                </td>
                <td>
                  <p-select
                    id="userStateId"
                    [options]="userWspStates"
                    optionLabel="name"
                    optionValue="id"
                    [(ngModel)]="item.channelStateId"
                    class="!rounded-full min-w-48"
                    placeholder="Estado"
                    (onChange)="changeWspState(item.userId, $event.value)"
                    appendTo="body"
                  />
                </td>
              </tr>
            </ng-template>
            <ng-template #emptymessage>
              <tr>
                <td colspan="100">
                  <div class="text-center text-sm font-light p-4">
                    No se encontraron asesores de WhatsApp.
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </p-card>
</div>

<p-popover #opAssistances>
  <div class="w-60">
    <div *ngIf="attentionDetail; else loadingAtencion">
      <table class="table-auto w-full border border-slate-300 text-xs">
        <thead class="bg-accent">
          <tr>
            <th colspan="2" class="text-center font-semibold py-1 border-b">
              Detalle de Atenciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b">
            <td class="py-1 px-2 font-medium text-gray-700">Llamadas</td>
            <td class="py-1 px-2 text-right">
              {{ attentionDetail.alosat }}
            </td>
          </tr>
          <tr class="border-b">
            <td class="py-1 px-2 font-medium text-gray-700">Correo</td>
            <td class="py-1 px-2 text-right">
              {{ attentionDetail.recievedCount }}
            </td>
          </tr>
          <tr class="border-b">
            <td class="py-1 px-2 font-medium text-gray-700">Chat</td>
            <td class="py-1 px-2 text-right">
              {{ attentionDetail.chat }}
            </td>
          </tr>
          <tr class="border-b">
            <td class="py-1 px-2 font-medium text-gray-700">Chatbot</td>
            <td class="py-1 px-2 text-right">
              {{ attentionDetail.chatbot }}
            </td>
          </tr>
          <tr>
            <td class="py-1 px-2 font-semibold text-gray-900">Total</td>
            <td class="py-1 px-2 font-semibold text-right text-blue-700">
              {{ attentionDetail.count }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #loadingAtencion>
      <p class="text-xs text-center py-3">No se encontró información...</p>
    </ng-template>
  </div>
</p-popover>

<p-popover #opStates>
  <div class="w-60">
    <div *ngIf="stateDetails; else loadingEstado">
      <table class="table-auto w-full border border-slate-300 text-xs">
        <thead class="bg-accent">
          <tr>
            <th colspan="2" class="text-center font-semibold py-1 border-b">
              Detalle de Estados
            </th>
          </tr>
        </thead>
        <tbody>
          @for (state of stateDetails; track state) {
          <tr class="border-b">
            <td class="py-1 px-2 font-medium text-gray-700">
              {{ state.newChannelState?.name }}
            </td>
            <td class="py-1 px-2 text-right">
              {{ state.duration | duration }}
            </td>
          </tr>
          }

          <tr>
            <td class="py-1 px-2 font-semibold text-gray-900">Total</td>
            <td class="py-1 px-2 font-semibold text-right text-green-700">
              {{ totalDurationStates | duration }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #loadingEstado>
      <p class="text-xs text-center py-3">No se encontró información...</p>
    </ng-template>
  </div>
</p-popover>

<!-- Modal Detalle -->
<div
  *ngIf="detalleAbierto"
  class="fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Fondo oscurecido -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- Contenido modal -->
  <div
    class="relative bg-terciario rounded-lg shadow-lg w-11/12 md:w-3/4 lg:w-1/2 p-6 z-10"
  >
    <!-- Botón volver -->
    <button
      (click)="detalleAbierto = false"
      class="absolute top-3 left-3 flex items-center gap-2 text-gray-600 hover:text-gray-800 transition"
    >
      <i class="pi pi-arrow-left text-xl"></i>
      <span class="hidden sm:inline text-sm font-medium">Volver</span>
    </button>

    <!-- Contenido -->
    <h2 class="text-lg font-semibold mb-4 text-center">
      Detalle del Indicador
    </h2>
    <p class="text-sm text-gray-600 text-center">
      📊 Aquí podrías mostrar más datos del indicador.
    </p>
  </div>
</div>
