<form [formGroup]="formData" class="grid grid-cols-1 gap-6">
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="codeType">
        Código <span class="text-xs">*</span>
      </label>
      <input id="codeType" pInputText formControlName="code" />
      <div
        *ngIf="formData.controls.code.invalid && formData.controls.code.touched"
      >
        <small *ngIf="formData.controls.code.errors?.['required']"
          >El código es requerido.</small
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="nameType">
        Nombre <span class="text-xs">*</span>
      </label>
      <input id="nameType" pInputText formControlName="name" />
      <div
        *ngIf="formData.controls.name.invalid && formData.controls.name.touched"
      >
        <small *ngIf="formData.controls.name.errors?.['required']"
          >El nombre es requerido.</small
        >
      </div>
    </div>
  </div>
  <div class="flex justify-end gap-4">
    <div class="flex gap-2">
      <button-cancel (click)="onCancel()" />
      <button-save
        [label]="id ? 'Actualizar' : 'Guardar'"
        [loading]="loading"
        [disabled]="formData.invalid"
        (click)="onSubmit()"
      />
    </div>
  </div>
</form>
