<section
  class="w-screen h-screen flex justify-center items-center bg-slate-100 dark:bg-slate-800"
>
  <div
    class="w-120 bg-slate-50 dark:bg-slate-700 shadow-lg rounded-lg px-8 py-12"
  >
    <div class="grid grid-col-1 gap-4">
      <div class="flex flex-col justify-center items-center gap-2">
        <div
          class="w-full flex flex-col gap-1 text-slate-700 dark:text-slate-100"
        >
          <h2 class="text-sky-900 text-2xl font-medium">
            Restablecer contraseña
          </h2>
          <p class="text-sm font-light">{{ description }}</p>
        </div>
      </div>
      <form
        [formGroup]="formData"
        (ngSubmit)="onSubmit()"
        class="grid grid-cols-1 gap-6"
      >
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2 w-full">
            <input
              pInputText
              id="email"
              formControlName="email"
              placeholder="Por favor, ingrese su correo electrónico"
              autocomplete="reset-email"
            />
          </div>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex flex-col items-center justify-center gap-4">
            <button
                pButton
                pRipple
                type="submit"
                size="small"
                [label]="loading ? 'Cargando' : 'Verificar'"
                class="w-full uppercase text-center justify-center"
                [loading]="loading"
                [disabled]="invalid || loading"
              ></button>

            <p class="text-sm">
              Si desea volver a la página de inicio de sesión, <a class="text-sm font-medium text-sky-500 hover:underline hover:text-sky-600 cursor-pointer"
                routerLink="/auth/login">haga clic aquí.</a>
            </p>

            <ng-container *ngIf="error">
              <div
                class="text-red-600 bg-red-50 border border-red-500 rounded-md px-2 py-1.5 flex items-center gap-1 text-sm"
              >
                <i
                  class="iconify icon font-bold text-2xl"
                  [attr.data-icon]="'stash:times-circle-light'"
                  data-inline="false"
                ></i>
                <p>{{ error }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
