<div class="grid grid-cols-1 gap-4">
  <div class="grid grid-cols-2 gap-x-4 gap-y-2 bg-green-50/50">
    @for (item of dispoChoiceList; track item) {
    <div
      [ngClass]="{
        'uppercase text-start px-3 py-2 font-bold hover:bg-green-300 cursor-pointer text-xs text-green-700 border rounded-2xl': true,
        'bg-green-50': dispoChoice != item.statusId,
        'bg-green-300': dispoChoice == item.statusId
      }"
      (click)="selectDispoChoice(item.statusId)"
    >
      {{ item.statusId }} - {{ item.statusName }}
    </div>
    }
  </div>
  <div class="flex items-center gap-2">
    <p-checkbox
      [(ngModel)]="pauseAgent"
      inputId="pauseCall"
      binary="true"
      [ngModelOptions]="{ standalone: true }"
    >
    </p-checkbox>
    <label for="pauseCall" class="text-sm -mb-1">
      Pausar al terminar la atención
    </label>
  </div>
  <div class="flex justify-end gap-2">
    <btn-custom
      label="Cancelar"
      severity="danger"
      icon="ooui:cancel"
      [text]="false"
      (click)="onCancel()"
    />
    <btn-custom
      [disabled]="!dispoChoice"
      label="Confirmar"
      severity="primary"
      icon="mingcute:check-2-fill"
      [text]="false"
      (click)="onSubmit()"
    />
  </div>
</div>
