<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 gap-6">
    <div class="grid grid-cols-1 gap-3">
      <div class="flex flex-col space-y-1">
        <label class="text-sm font-medium" for="nameRole">
          Título <span class="text-xs">*</span>
        </label>

        <input
          pInputText
          id="title"
          formControlName="title"
          placeholder="Por favor, introduzca el título."
          class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
        />
        <div
          *ngIf="
            formData.controls.title.invalid && formData.controls.title.touched
          "
        >
          <small
            class="text-xs text-red-500"
            *ngIf="formData.controls.title.errors?.['required']"
            >El Código corto es requerido.</small
          >
        </div>
      </div>
      <!-- <div class="flex flex-col space-y-1">
        <label class="text-sm font-medium" for="nameRole">
          Código de acceso <span class="text-xs">*</span>
        </label>

        <input
          pInputText
          id="code"
          formControlName="code"
          placeholder="Por favor, introduzca un código corto."
        />
        <div
          *ngIf="
            formData.controls.code.invalid && formData.controls.code.touched
          "
        >
          <small
            class="text-xs text-red-500"
            *ngIf="formData.controls.code.errors?.['required']"
            >El Código corto es requerido.</small
          >
        </div>
      </div> -->

      <div class="flex flex-col space-y-1 w-full">
        <label class="text-sm font-medium" for="Color">
          Contenido <span class="text-xs">*</span>
        </label>

        <p-editor formControlName="content" [style]="{ height: '320px' }" />

        <div
          *ngIf="
            formData.controls.content.invalid &&
            formData.controls.content.touched
          "
        >
          <small
            class="text-xs text-red-500"
            *ngIf="formData.controls.content.errors?.['required']"
          >
            El Mensaje es requerido.
          </small>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-sm font-medium" for="idtipoConsulta">
          Canal <span class="text-xs">*</span></label
        >
        <p-select
          id="categoria"
          [options]="listCategoryChannels"
          optionLabel="name"
          optionValue="id"
          formControlName="categoryId"
          placeholder="Seleccione el canal"
          appendTo="body"
          styleClass="w-full !rounded-[30px] focus:ring-gray-300 bg-cuaternario"
        />
      </div>
    </div>

    <div class="flex justify-end gap-3">
      <!-- <div class="flex items-center gap-2 py-1">
      <p-toggleswitch formControlName="status" inputId="activeRole" />
      <label class="text-sm font-medium pb-1.5" for="activeRole">{{
        isActive ? "Activo" : "Inactivo"
      }}</label>
    </div> -->
      <!-- <p-button
        severity="primary"
        size="small"
        type="submit"
        [label]="id ? 'Actualizar' : 'Guardar'"
        [loading]="loading"
        [disabled]="formData.invalid"
        ><iconify-icon [icon]="'ci:save'" class="text-xl" />
      </p-button> -->
     <!--  <button-cancel (click)="onCancel()" /> -->
        <button
          pButton
          type="button"
          [label]="'Cancelar'"
          (click)="onCancel()"
          class="
          bg-cuaternario
          !text-black
          hover:!bg-[red]
          hover:!border-[red]
          hover:!text-white
          !rounded-full
          transition-all
          duration-200
          flex
          items-center
          gap-2
          px-4
          py-2"
        >
            <iconify-icon
              icon="lucide:ban"
              class="text-lg text-inherit"
            ></iconify-icon>

        </button>      

      <!-- <button-save
        [label]="id ? 'Actualizar' : 'Guardar'"
        [loading]="loading"
        [disabled]="formData.invalid"
        (click)="onSubmit()"
      />
      -->
        <button
          pButton
          type="button"
          [label]="id ? 'Actualizar' : 'Guardar'"
          [loading]="loading"
          [disabled]="formData.invalid"
          (click)="onSubmit()"
          class="
          bg-cuaternario
          !text-black
          hover:bg-accent-7
          hover:!text-white
          !rounded-full
          transition-all
          duration-200
          flex
          items-center
          gap-2
          px-4
          py-2"
        >
            <iconify-icon
              icon="material-symbols-light:save-outline"
              class="text-lg text-inherit"
            ></iconify-icon>

        </button>      
    </div>
  </div>
</form>
