<form [formGroup]="formData" novalidate>
  <div class="grid grid-cols-1 gap-4">
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="officeId">
        Oficina <span class="text-xs">*</span>
      </label>
      <p-select
        id="officeId"
        [options]="listOffices"
        optionLabel="name"
        optionValue="id"
        formControlName="officeId"
        placeholder="Seleccione..."
        [filter]="true"
        appendTo="body"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="officeId">
        Sectorista <span class="text-xs">*</span>
      </label>
      <p-select
        id="officeId"
        [options]="listUsers"
        optionLabel="name"
        optionValue="id"
        formControlName="userId"
        placeholder="Seleccione..."
        [filter]="true"
        appendTo="body"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium"> Código de contribuyente </label>

      <p-inputgroup>
        <p-inputnumber [useGrouping]="false" formControlName="code" />
        <p-inputgroup-addon>
          <p-button
            label="Validar"
            [disabled]="formData.get('code')?.invalid"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium"> Teléfono </label>
      <p-inputgroup>
        <p-inputgroup-addon> +51 </p-inputgroup-addon>
        <p-inputnumber [useGrouping]="false" formControlName="phone" />
      </p-inputgroup>
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium"> Whatsapp </label>
      <p-inputgroup>
        <p-inputgroup-addon> wa.me/ </p-inputgroup-addon>
        <input pInputText formControlName="whatsapp" />
      </p-inputgroup>
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium"> Email </label>
      <input pInputText formControlName="email" class="w-full" />
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="officeId">
        Método de gestión <span class="text-xs">*</span>
      </label>
      <p-select
        id="method"
        [options]="listMetodos"
        optionLabel="name"
        optionValue="type"
        formControlName="channel"
        placeholder="Seleccione..."
        appendTo="body"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="officeId">
        Resultado de gestión <span class="text-xs">*</span>
      </label>
      <p-select
        id="result"
        [options]="listResultados"
        formControlName="result"
        placeholder="Seleccione..."
        appendTo="body"
      />
    </div>

    <div class="flex justify-end gap-4">
      <div class="flex gap-2">
        <button-save
          [label]="'Guardar'"
          [disabled]="formData.invalid"
          [loading]="loading"
          (click)="onSubmit()"
        />
      </div>
    </div>
  </div>
</form>
