<div class="px-4 py-3" [ngClass]="getReplyClass(reply)">
  <div class="flex justify-between items-start">
    <div class="flex items-center gap-3">
      <!-- Texto a la izquierda -->
      <span
        [ngClass]="[
          'font-semibold text-sm border rounded-full px-2',
          replyTag.border
        ]"
      >
        {{ replyTag.label }}
      </span>
      <!-- Encabezado del reply -->
      <div class="grid grid-cols-1">
        <div class="text-sm text-gray-500">
          <span class="font-medium">{{
            reply.name ? reply.name : reply.from
          }}</span>
          <span *ngIf="!!reply.name" class="font-light">
            <{{ reply.from }}></span
          >
        </div>
        <div class="text-xs text-gray-500 font-light">
          para
          <span class="font-normal">{{
            reply.toName ? reply.toName : reply.to
          }}</span>
          <span *ngIf="!!reply.toName" class="font-light">
            <{{ reply.to }}></span
          >
        </div>
      </div>
    </div>

    <!-- Botones a la derecha -->
    <div class="flex items-start gap-4">
      <div class="text-xs text-gray-500">
        {{ reply.createdAt | date : "dd MMM yyyy, h:mm a" }}
        <span class="font-light"> ({{ reply.createdAt | timeAgo }}) </span>
      </div>
      <div *ngIf="showReplyBtns" class="flex gap-2">
        <btn-custom
          severity="secondary"
          tooltip="Responder"
          icon="entypo:reply"
          (click)="$event.stopPropagation(); onReplyClick()"
        />
        <btn-custom
          severity="secondary"
          tooltip="Reenviar"
          icon="entypo:forward"
          (click)="$event.stopPropagation(); forwardMail(reply)"
        />
      </div>
    </div>
  </div>
  <!-- Cuerpo del reply -->
  <app-mail-viewer
    [safeMailHtml]="getSafeContent(reply.content, reply.attachments)"
  />

  @if (!!reply.repliedTo) {
  <btn-custom
    icon="pepicons-pencil:dots-x"
    severity="contrast"
    [tooltip]="
      reply.repliedTo.show
        ? 'Ocultar contenido expandido'
        : 'Mostrar contenido comprimido'
    "
    (click)="reply.repliedTo.show = !reply.repliedTo.show"
  />
  @if (!!reply.repliedTo.show) {
  <app-mail-viewer
    [safeMailHtml]="getReplyContent(reply.repliedTo, reply.type)"
  />
  } }

  <!-- Archivos adjuntos del reply -->
  <div
    *ngIf="hasAttachments(reply.attachments)"
    class="mt-2 space-y-2 text-slate-800"
  >
    <p class="font-semibold">Archivos adjuntos</p>
    <div *ngFor="let file of getAttachments(reply.attachments)">
      <div class="flex items-center gap-1 text-sm px-4">
        <iconify-icon
          [icon]="obtenerIconoPorMime(mimeType)"
          class="!text-red-700"
        />
        <a
          [href]="file.realUrl"
          [download]="file.filename"
          class="hover:underline"
        >
          {{ file.filename }}
        </a>
        <span class="text-xs text-gray-400">
          ({{ file.size | number }} bytes)
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="replyMode" class="mt-2 mb-2">
    <ng-container *ngIf="replyMode !== 'reply'">
      <div class="space-y-4 mt-4 mb-4">
        <input
          [(ngModel)]="replyTo"
          type="text"
          placeholder="Para"
          class="w-full border border-gray-300 bg-terciario rounded-lg px-3 py-2 outline-none text-gray-800 placeholder-gray-500 overflow-hidden shadow-sm"
        />

        <input
          [(ngModel)]="replySubject"
          type="text"
          placeholder="Asunto"
          class="w-full border border-gray-300 bg-terciario rounded-lg px-3 py-2 outline-none text-gray-800 placeholder-gray-500 overflow-hidden shadow-sm"
        />
      </div>
    </ng-container>

    <div class="border border-gray-300 rounded-lg shadow-sm">
      <div class="p-4 bg-terciario text-base text-gray-800 rounded-lg">
        <mail-editor [(ngModel)]="replyText" />
      </div>

      <div
        *ngIf="attachments.length > 0"
        class="px-4 py-2 border-b border-gray-200 space-y-2 bg-gray-50"
      >
        <div
          *ngFor="let file of attachments; let i = index"
          class="flex items-center justify-between bg-terciario border border-gray-200 rounded-lg p-2 shadow-sm"
        >
          <div class="flex-1 mx-4" *ngIf="file.progress < 100">
            <div class="h-1 bg-gray-200 rounded-full overflow-hidden">
              <div
                class="h-1 bg-blue-600 transition-all duration-500"
                [style.width.%]="file.progress"
              ></div>
            </div>
          </div>

          <div *ngIf="file.progress === 100" class="text-green-600 mx-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M9 16.17 4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"
              />
            </svg>
          </div>

          <button
            type="button"
            (click)="removeAttachment(i)"
            class="p-2 rounded-full hover:bg-gray-200 text-gray-500 hover:text-gray-700"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M18.3 5.71 12 12l6.3 6.29-1.41 1.42L10.59 13.4 4.3 19.71 2.89 18.3 9.18 12 2.89 5.71 4.3 4.29 10.59 10.6 16.89 4.29z"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="px-4 py-3 flex justify-between gap-2 bg-terciario rounded-lg">
        <div class="flex items-center gap-3">
          <div class="relative flex">
            <button
              type="button"
              (click)="sendReply(reply.id, reply.mailAttentionId)"
              class="bg-[#375f95] text-white px-4 py-2 rounded-l-full hover:bg-[#263f61]"
            >
              Enviar
            </button>

            <button
              type="button"
              (click)="toggleSendMenu()"
              class="bg-[#375f95] text-white px-2 rounded-r-full hover:bg-[#263f61] flex items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
              >
                <path fill="currentColor" d="M7 10l5 5l5-5z" />
              </svg>
            </button>
          </div>

          <div class="flex gap-2">
            <div class="flex items-center justify-center">
              <btn-custom
                icon="tabler:message"
                severity="secondary"
                tooltip="Insertar respuesta rapida"
                (click)="selectResponse($event)"
              />

              <p-popover #responses>
                <div class="flex flex-col gap-4 p-3">
                  <div>
                    <span class="font-medium block mb-2"
                      >Respuestas predefinidas
                    </span>
                    <ul class="list-none p-0 m-0 flex flex-col">
                      <li
                        *ngFor="let response of predefinedResponseList"
                        class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border hover:bg-sky-100"
                        (click)="insertResponse(response)"
                      >
                        <div class="flex flex-col gap-2">
                          <p class="font-medium">
                            {{ response.title }}
                          </p>
                          <app-mail-viewer
                            [safeMailHtml]="getSafeContent(response.content)"
                          />
                        </div>
                      </li>
                      @if (predefinedResponseList.length == 0) {
                      <li
                        class="flex items-center gap-2 px-2 py-3 text-center font-extralight italic text-xs"
                      >
                        Sin respuestas...
                      </li>
                      }
                    </ul>
                  </div>
                </div>
              </p-popover>
            </div>

            <div class="flex items-center">
              <input
                type="file"
                #fileInput
                style="display: none"
                (change)="onFileSelected($event)"
              />
              <btn-custom
                icon="mdi:paperclip"
                severity="secondary"
                tooltip="Adjuntar archivos"
                (click)="attachFile()"
              />
            </div>

            <div class="flex items-center gap-2 text-gray-500">
              <btn-custom
                icon="quill:signature"
                severity="secondary"
                tooltip="Insertar firma"
                (click)="insertSignature()"
              />
            </div>
          </div>
        </div>

        <div>
          <button
            (click)="cancelReply()"
            class="p-2 rounded-full hover:bg-gray-200 text-gray-500 hover:text-gray-700"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
            >
              <path
                fill="#777"
                d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM19 4h-3.5l-1-1h-5l-1 1H5v2h14z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
