<div class="grid grid-cols-1 gap-4">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    @for (item of total(); track $index) {
    <p-card class="text-center">
      <div class="flex items-center justify-center gap-2">
        <iconify-icon [icon]="item.icon" [class]="item.style" />
        <p class="text-xl font-bold">{{ item.callSateName }}</p>
      </div>
      <ng-template pTemplate="content">
        <p class="text-xl font-bold">{{ item.total }}</p>
      </ng-template>
    </p-card>
    }
  </div>
  <div class="grid grid-cols-1 gap-4">
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 justify-end"
    >
      <div>
        <input
          pInputText
          [(ngModel)]="activeSearch"
          placeholder="Buscar por teléfono"
          class="
            w-full
            !rounded-full
            !text-sm
            !h-10
            min-w-72
            bg-cuaternario
            !border
            !border-transparent
            focus:!border-[#dad9dd]
            transition-all
            duration-200
          "
        />
      </div>
      <div>
        <p-select
          [options]="advisors()"
          [(ngModel)]="activeAdvisorFilter"
          optionLabel="name"
          optionValue="id"
          placeholder="Asesores"
          styleClass="w-full !rounded-[30px] focus:ring-gray-300 bg-cuaternario"
          panelStyleClass="
              [&_.p-datepicker-header]:bg-cuaternario
              [&_.p-datepicker-header]:!border-none
              [&_.p-datepicker-header]:!rounded-[30px]

              bg-cuaternario
              !rounded-[30px]
              !border
              !border-transparent
              p-1

              [&_.p-datepicker-calendar_td>span]:!rounded-full

              [&_.p-datepicker-calendar_td>span:hover]:!bg-gray-300
              [&_.p-datepicker-calendar_td>span:hover]:!text-black

              [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border
              [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border-black

              [&_.p-datepicker-calendar_td.p-highlight>span]:!bg-black
              [&_.p-datepicker-calendar_td.p-highlight>span]:!text-white
            "
          appendTo="body"
          [showClear]="true"
        ></p-select>
      </div>

      <div>
        <p-select
          [options]="states()"
          [(ngModel)]="activeStateFilter"
          optionLabel="statusName"
          optionValue="statusId"
          placeholder="Estados de llamada"
          styleClass="w-full !rounded-[30px] focus:ring-gray-300 bg-cuaternario"
          panelStyleClass="
              [&_.p-datepicker-header]:bg-cuaternario
              [&_.p-datepicker-header]:!border-none
              [&_.p-datepicker-header]:!rounded-[30px]

              bg-cuaternario
              !rounded-[30px]
              !border
              !border-transparent
              p-1

              [&_.p-datepicker-calendar_td>span]:!rounded-full

              [&_.p-datepicker-calendar_td>span:hover]:!bg-gray-300
              [&_.p-datepicker-calendar_td>span:hover]:!text-black

              [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border
              [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border-black

              [&_.p-datepicker-calendar_td.p-highlight>span]:!bg-black
              [&_.p-datepicker-calendar_td.p-highlight>span]:!text-white
            "
          appendTo="body"
          [showClear]="true"
        ></p-select>
      </div>

      <div class="flex items-center gap-2">
        <p class="font-semibold text-gray-700 text-sm">Rango de fecha:</p>
        <div class="grid grid-cols-2 gap-4">
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="startDate"
            [(ngModel)]="activeStartDateFilter"
            styleClass="
              [&_.p-inputtext]:!rounded-full 
              [&_.p-inputtext]:!w-full
              [&_.p-inputtext]:focus:ring-gray-300 
              [&_.p-inputtext]:bg-cuaternario
            "
            panelStyleClass="
              [&_.p-datepicker-header]:bg-cuaternario
              [&_.p-datepicker-header]:!border-none
              [&_.p-datepicker-header]:!rounded-t-[30px]

              bg-cuaternario
              !rounded-[30px]
              !border
              !border-transparent
              p-3

              [&_.p-datepicker-calendar_td>span]:!rounded-full

              [&_.p-datepicker-calendar_td>span:hover]:!bg-gray-300
              [&_.p-datepicker-calendar_td>span:hover]:!text-black

              [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border
              [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border-black

              [&_.p-datepicker-calendar_td.p-highlight>span]:!bg-black
              [&_.p-datepicker-calendar_td.p-highlight>span]:!text-white
            "
            inputStyleClass="!rounded-full !w-full"
            class="!rounded-full !w-full"
            appendTo="body"
          />
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="endDate"
            [(ngModel)]="activeEndDateFilter"
            styleClass="
              [&_.p-inputtext]:!rounded-full 
              [&_.p-inputtext]:!w-full
              [&_.p-inputtext]:focus:ring-gray-300 
              [&_.p-inputtext]:bg-cuaternario
            "
            panelStyleClass="
              [&_.p-datepicker-header]:bg-cuaternario
              [&_.p-datepicker-header]:!border-none
              [&_.p-datepicker-header]:!rounded-t-[30px]

              bg-cuaternario
              !rounded-[30px]
              !border
              !border-transparent
              p-3

              [&_.p-datepicker-calendar_td>span]:!rounded-full

              [&_.p-datepicker-calendar_td>span:hover]:!bg-gray-300
              [&_.p-datepicker-calendar_td>span:hover]:!text-black

              [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border
              [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border-black

              [&_.p-datepicker-calendar_td.p-highlight>span]:!bg-black
              [&_.p-datepicker-calendar_td.p-highlight>span]:!text-white
            "
            inputStyleClass="!rounded-full !w-full"
            class="!rounded-full !w-full"
            appendTo="body"
          />
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <div class="grid grid-cols-2 gap-2 items-center">
        
        <button
          pButton
          type="button"
          (click)="search()"
          class="
          bg-cuaternario
          !text-black
          hover:bg-accent-7
          hover:!text-white
          !rounded-full
          transition-all
          duration-200
          flex
          items-center
          gap-2
          px-4
          py-2"
            >
              <iconify-icon
                icon="icon-park-solid:filter"
                class="text-lg text-inherit"
              ></iconify-icon>

              <span class="font-medium">
                Filtrar
              </span>
        </button>

        <button
          pButton
          type="button"
          (click)="clear()"
          class="
            bg-cuaternario
            !text-black
            hover:!bg-[red]
            hover:!border-[red]
            hover:!text-white
            !rounded-full
            transition-all
            duration-200
            flex
            items-center
            gap-2
            px-4
            py-2"
            >
              <iconify-icon
                icon="mdi:trash"
                class="text-lg text-inherit"
              ></iconify-icon>

              <span class="font-medium">
                Limpiar
              </span>
        </button>
      </div>
    </div>
  </div>

  <p-table 
    [value]="items()" 
    [responsiveLayout]="'scroll'" 
    sortMode="multiple"
    styleClass="table-header-light "
    >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="callDate" class="w-48">
          Fecha y hora <p-sortIcon field="callDate" />
        </th>
        <th pSortableColumn="user.name">
          Asesor <p-sortIcon field="user.name" />
        </th>
        <th pSortableColumn="lengthInSec">
          <div class="flex items-center justify-center">
            Duración (seg)<p-sortIcon field="lengthInSec" />
          </div>
        </th>
        <th pSortableColumn="phoneNumber">
          <div class="flex items-center justify-center">
            Teléfono <p-sortIcon field="phoneNumber" />
          </div>
        </th>
        <th>
          <div class="flex items-center justify-center">
            Resultado de llamada
          </div>
        </th>
        <th class="w-48">
          <div class="flex items-center justify-center">Grabación</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <div class="text-sm">
            {{ item.callDate | date : "dd/MM/yyyy HH:mm:ss" }}
          </div>
        </td>
        <td>
          <div
            class="text-sm"
            [ngClass]="{
              'italic font-light': !item.user
            }"
          >
            {{ item.user?.name ?? "No asignado" }}
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center text-sm">
            {{ item.lengthInSec | duration }}
          </div>
        </td>
        <td>
          <div class="flex items-center justify-center text-sm">
            {{ item.phoneNumber }}
          </div>
        </td>
        <td>
          <div class="flex justify-center items-center gap-2 text-sm">
            <!-- <iconify-icon [icon]="item.stateIcon" [class]="item.stateStyle" /> -->
            <label>{{ item.statusName }}</label>
          </div>
        </td>
        <td class="w-28">
          <div class="flex justify-center">
            @if (!item.recordingLocation) {
            <label class="text-sm">No hay grabación</label>
            } @else {
            <button
              pButton
              class="p-button-text"
              (click)="download(item.recordingLocation)"
            >
              <iconify-icon [icon]="'mdi:download'" class="text-xl" />
              <label>Grabación</label>
            </button>
            }
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="100">
          <div class="text-center text-sm font-light p-4">
            No se encontraron asesores de Aló Sat.
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #footer>
      <tr>
        <td colspan="100">
          <div class="flex justify-center items-center">
            <sat-paginator
              [totalItems]="totalItems"
              [limit]="limit()"
              [offset]="offset()"
              (pageChange)="onPageChange($event)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
