<div class="grid grid-cols-1 gap-6">
  <div class="grid grid-cols-1 gap-2">
    <div class="flex justify-center items-center gap-2">
      <p-multiselect
        [options]="inboxes"
        [(ngModel)]="selectedInboxes"
        optionLabel="name"
        placeholder="Seleccionar canales"
        styleClass="w-64"
        [maxSelectedLabels]="3"
        appendTo="body"
        styleClass="!rounded-[30px] focus:ring-gray-300 bg-cuaternario"
      />

      <button
          pButton
          type="button"
          [disabled]="!selectedInboxes.length"
          (click)="assign()"
          class="
          bg-cuaternario
          !text-black
          hover:bg-accent-7
          hover:!text-white
          !rounded-full
          transition-all
          duration-200
          flex
          items-center
          gap-2
          px-4
          py-2"
            >
              <iconify-icon
                icon="lucide:plus"
                class="text-lg text-inherit"
              ></iconify-icon>

              <span class="font-medium">
                añadir
              </span>
        </button>

    </div>
    <p-table [value]="assignmentList" styleClass="table-header-light ">
      <!-- <ng-template #header>
        <tr>
          <th>Nombre</th>
          <th class="w-12">Actions</th>
        </tr>
      </ng-template> -->
      <ng-template #body let-item>
        <tr>
          <td>
            <div class="flex justify-between items-center gap-2">
              <div class="flex flex-col">
                <h5 class="text-sm font-medium">
                  {{ item.inbox?.name }}
                </h5>
                <p class="text-xs font-light italic capitalize">
                  {{ item?.inbox?.channel?.name }}
                </p>
              </div>
            </div>
          </td>
          <td class="w-12">
            <div class="flex items-center">
              <btn-delete (click)="remove(item)" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="flex justify-end">

    <button
          pButton
          type="button"
          [label]="'Actualizar canales'"
          [loading]="loading"
          (click)="onSubmit()"
          class="
          bg-cuaternario
          !text-black
          hover:bg-accent-7
          hover:!text-white
          !rounded-full
          transition-all
          duration-200
          flex
          items-center
          gap-2
          px-4
          py-2"
            >
              <iconify-icon
                icon="lucide:plus"
                class="text-lg text-inherit"
              ></iconify-icon>
        </button>
        
  </div>
</div>
