<div class="w-full flex justify-center !rounded-[30px]">
  <p-blockui [blocked]="loadingFile" />
  <form
    *ngIf="formData"
    [formGroup]="formData"
    class="w-full grid grid-cols-1 gap-2"
  >
    <p-fieldset legend="Información básica">
      <div class="grid grid-cols-1 gap-4">
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
          <!-- Nombre -->
          <div>
            <label for="name" class="block text-sm font-medium mb-1"
              >Nombre <span class="text-xs">*</span></label
            >
            <input
              id="name"
              type="text"
              pInputText
              formControlName="name"
              placeholder="Ingrese nombre"
              class="
                w-full
                !rounded-full
                !text-sm
                !h-10
                min-w-72
                bg-cuaternario
                !border
                !border-transparent
                focus:!border-[#dad9dd]
                transition-all
                duration-200
              "
            />
          </div>

          <!-- Descripción -->
          <div>
            <label for="description" class="block text-sm font-medium mb-1"
              >Descripción <span class="text-xs">*</span></label
            >
            <textarea
              id="description"
              rows="3"
              formControlName="description"
              placeholder="Ingrese descripción"
              class="
                w-full
                min-w-72

                !rounded-[20px]
                !text-sm

                bg-cuaternario
                !border
                !border-transparent

                px-4
                py-2

                focus:!border-[#dad9dd]
                focus:outline-none

                transition-all
                duration-200

                resize-none
              "
            ></textarea>
          </div>
        </div>

        <div class="flex items-center justify-center gap-4">
          <!-- Fecha inicio -->
          <div>
            <label for="dateStart" class="block text-sm font-medium mb-1"
              >Fecha de inicio <span class="text-xs">*</span></label
            >
            <p-datepicker
              id="dateStart"
              formControlName="dateStart"
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              appendTo="body"
              styleClass="
                [&_.p-inputtext]:!rounded-tl-[30px]
                [&_.p-inputtext]:!rounded-bl-[30px]
                [&_.p-inputtext]:!w-full
                [&_.p-inputtext]:focus:ring-gray-300 
                [&_.p-inputtext]:bg-cuaternario
              "
              panelStyleClass="
                [&_.p-datepicker-header]:bg-cuaternario
                [&_.p-datepicker-header]:!border-none
                [&_.p-datepicker-header]:!rounded-t-[30px]

                bg-cuaternario
                !rounded-[30px]
                !border
                !border-transparent
                p-3

                [&_.p-datepicker-calendar_td>span]:!rounded-full

                [&_.p-datepicker-calendar_td>span:hover]:!bg-gray-300
                [&_.p-datepicker-calendar_td>span:hover]:!text-black

                [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border
                [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border-black

                [&_.p-datepicker-calendar_td.p-highlight>span]:!bg-black
                [&_.p-datepicker-calendar_td.p-highlight>span]:!text-white
              "
            ></p-datepicker>
          </div>

          <!-- Fecha fin -->
          <div>
            <label for="dateEnd" class="block text-sm font-medium mb-1"
              >Fecha de fin <span class="text-xs">*</span></label
            >
            <p-datepicker
              id="dateEnd"
              formControlName="dateEnd"
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              appendTo="body"
              styleClass="
                [&_.p-inputtext]:!rounded-tl-[30px]
                [&_.p-inputtext]:!rounded-bl-[30px]
                [&_.p-inputtext]:!w-full
                [&_.p-inputtext]:focus:ring-gray-300 
                [&_.p-inputtext]:bg-cuaternario
              "
              panelStyleClass="
                [&_.p-datepicker-header]:bg-cuaternario
                [&_.p-datepicker-header]:!border-none
                [&_.p-datepicker-header]:!rounded-t-[30px]

                bg-cuaternario
                !rounded-[30px]
                !border
                !border-transparent
                p-3

                [&_.p-datepicker-calendar_td>span]:!rounded-full

                [&_.p-datepicker-calendar_td>span:hover]:!bg-gray-300
                [&_.p-datepicker-calendar_td>span:hover]:!text-black

                [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border
                [&_.p-datepicker-calendar_td.p-datepicker-today>span]:!border-black

                [&_.p-datepicker-calendar_td.p-highlight>span]:!bg-black
                [&_.p-datepicker-calendar_td.p-highlight>span]:!text-white
              "
            ></p-datepicker>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium" for="departmentId">
              Área <span class="text-xs">*</span>
            </label>
            <p-select
              id="departmentId"
              [options]="listDepartments"
              optionLabel="name"
              optionValue="id"
              formControlName="departmentId"
              placeholder="Seleccione..."
              appendTo="body"
              styleClass="w-full !rounded-[30px] focus:ring-gray-300 bg-cuaternario"
            />
          </div>
          <div class="flex flex-col gap-2">
            <label class="text-sm font-medium" for="officeId">
              Oficina <span class="text-xs">*</span>
            </label>
            <p-select
              id="officeId"
              [options]="listOffices"
              optionLabel="name"
              optionValue="id"
              formControlName="officeId"
              placeholder="Seleccione..."
              appendTo="body"
              styleClass="w-full !rounded-[30px] focus:ring-gray-300 bg-cuaternario"
            />
          </div>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset legend="Carga de datos">
      <div class="grid grid-cols-1 gap-2">
        <p class="mb-4 text-sm text-gray-600 flex items-center gap-2">
          <span
            >Sube el archivo <strong>Excel</strong> o <strong>CSV</strong> con
            los datos de los contribuyentes.</span
          >
          <button
            type="button"
            (click)="descargarPlantilla()"
            class="flex items-center gap-1 px-3 py-1.5 text-sm text-white bg-green-600 hover:bg-green-700 rounded shadow"
          >
            <iconify-icon [icon]="'wpf:check-file'" class="text-lg" />
            Descargar plantilla
          </button>
        </p>

        <div class="grid grid-cols-1 md:grid-cols-1 gap-2">
          <ngx-file-drop
            dropZoneLabel="Arrastra y suelta o haz clic para seleccionar"
            (onFileDrop)="onFileDropped($event)"
            (click)="onDropZoneClick()"
            [multiple]="false"
            [accept]="'.xlsx,.xls,.csv'"
            class="drop-zone"
          >
            <ng-template ngx-file-drop-content-tmp>
              <div class="drop-zone-content">
                <p>
                  Arrastra y suelta tu archivo aquí o
                  <strong>haz clic</strong> para seleccionar
                </p>
                <span class="file-types"
                  >Formatos permitidos: .xlsx, .xls, .csv</span
                >
              </div>
            </ng-template>
          </ngx-file-drop>
          <!-- Hidden file input for click-based selection -->
          <input
            #fileInput
            type="file"
            accept=".xlsx,.xls,.csv"
            (change)="onFileSelected($event)"
            style="display: none"
          />

          <div
            class="mt-3 text-sm text-gray-600 flex items-center gap-3"
            *ngIf="nombreArchivo"
          >
            <span class="mb-0 me-2"
              >Archivo cargado: <strong>{{ nombreArchivo }} </strong></span
            >

            <button
              (click)="limpiarDatos()"
              class="flex items-center gap-1 px-3 py-1.5 text-sm text-white bg-red-600 hover:bg-red-700 rounded shadow"
            >
              <iconify-icon [icon]="'lucide:file-x'" class="text-lg" />
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset
      *ngIf="previewDataAll.length"
      legend="Vista previa de Datos ({{ previewDataAll.length }} registros)"
    >
      <div class="grid grid-cols-1 gap-1">
        <p-table [value]="previewData" [scrollable]="true" scrollHeight="900px" styleClass="table-header-light ">
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="text-center text-xs">Sectorista</div>
              </th>
              <th>
                <div class="text-center text-xs">Tipo de contribuyente</div>
              </th>
              <th>
                <div class="text-center text-xs">Código de contribuyente</div>
              </th>
              <th>
                <div class="text-center text-xs">Tipo Doc. Ide.</div>
              </th>
              <th>
                <div class="text-center text-xs">N° Doc. Ide.</div>
              </th>
              <th>
                <div class="text-center text-xs">Contribuyente</div>
              </th>
              <th>
                <div class="text-center text-xs">Segmento</div>
              </th>
              <th>
                <div class="text-center text-xs">Perfil</div>
              </th>
              <th>
                <div class="text-center text-xs">Deuda</div>
              </th>
              <th>
                <div class="text-center text-xs">Tel. 1</div>
              </th>
              <th>
                <div class="text-center text-xs">Tel. 2</div>
              </th>
              <th>
                <div class="text-center text-xs">Tel. 3</div>
              </th>
              <th>
                <div class="text-center text-xs">Tel. 4</div>
              </th>
              <th>
                <div class="text-center text-xs">Whatsapp</div>
              </th>
              <th>
                <div class="text-center text-xs">Email</div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <div
                  class="w-[140px] text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ item.user?.name }}
                </div>
              </td>
              <td>
                <div
                  class="w-24 text-center text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ item?.taxpayerType }}
                </div>
              </td>
              <td>
                <div
                  class="w-16 text-center text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ item?.code }}
                </div>
              </td>
              <td>
                <p class="w-16 text-center text-xs font-normal">
                  {{ item?.tipDoc }}
                </p>
              </td>
              <td>
                <p class="text-center text-sm font-normal">
                  {{ item?.docIde }}
                </p>
              </td>
              <td>
                <div
                  class="w-32 text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                  tooltipPosition="top"
                  tooltipStyleClass="text-xs !p-0.5"
                  [pTooltip]="item?.taxpayerName"
                >
                  {{ item?.taxpayerName }}
                </div>
              </td>
              <td>
                <div class="text-sm text-center">
                  {{ item?.segment }}
                </div>
              </td>
              <td>
                <div class="text-sm text-center">{{ item?.profile }}</div>
              </td>
              <td>
                <div class="text-sm text-end">
                  {{ item?.debt | currency }}
                </div>
              </td>
              <td>
                <p class="text-sm font-normal">
                  {{ getPhoneContacts(item.citizenContacts)?.[0]?.value || "-" }}
                </p>
              </td>
              <td>
                <p class="text-sm font-normal">
                  {{  getPhoneContacts(item.citizenContacts)?.[1]?.value || "-" }}
                </p>
              </td>
              <td>
                <p class="text-sm font-normal">
                  {{  getPhoneContacts(item.citizenContacts)?.[2]?.value || "-" }}
                </p>
              </td>
              <td>
                <p class="text-sm font-normal">
                  {{ getPhoneContacts(item.citizenContacts)?.[3]?.value || "-" }}
                </p>
              </td>
              <td>
                <div class="text-sm text-center">
                  {{ getWhatsappContacts(item.citizenContacts)?.[0]?.value || "-" }}
                </div>
              </td>
              <td>
                <div class="text-sm text-center">
                  {{ getEmailContacts(item.citizenContacts)?.[0]?.value || '-' }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #emptymessage>
            <tr>
              <td colspan="100">
                <div class="text-center text-sm font-light p-4">
                  No tienes asignaciones en la cartera seleccionada.
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #footer>
            <tr>
              <td colspan="100">
                <div class="flex justify-center items-center">
                  <sat-paginator
                    [totalItems]="totalItemsPreview"
                    [limit]="limitPreview()"
                    [offset]="offsetPreview()"
                    [limitOptions]="[10, 25, 50, 100]"
                    (pageChange)="onPageChangePreview($event)"
                  />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-fieldset>

    <p-fieldset
      *ngIf="portfolioDetail.length"
      legend="Datos de la cartera  ({{ totalItems }} registros)"
    >
      <div class="grid grid-cols-1 gap-1">
        <p-table
          [value]="portfolioDetail"
          [scrollable]="true"
          scrollHeight="900px"
          styleClass="table-header-light "
        >
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="text-center text-xs">Sectorista</div>
              </th>
              <th>
                <div class="text-center text-xs">Tipo de contribuyente</div>
              </th>
              <th>
                <div class="text-center text-xs">Código de contribuyente</div>
              </th>
              <th>
                <div class="text-center text-xs">Tipo Doc. Ide.</div>
              </th>
              <th>
                <div class="text-center text-xs">N° Doc. Ide.</div>
              </th>
              <th>
                <div class="text-center text-xs">Contribuyente</div>
              </th>
              <th>
                <div class="text-center text-xs">Segmento</div>
              </th>
              <th>
                <div class="text-center text-xs">Perfil</div>
              </th>
              <th>
                <div class="text-center text-xs">Deuda</div>
              </th>
              <th>
                <div class="text-center text-xs">Tel. 1</div>
              </th>
              <th>
                <div class="text-center text-xs">Tel. 2</div>
              </th>
              <th>
                <div class="text-center text-xs">Tel. 3</div>
              </th>
              <th>
                <div class="text-center text-xs">Tel. 4</div>
              </th>
              <th>
                <div class="text-center text-xs">Whatsapp</div>
              </th>
              <th>
                <div class="text-center text-xs">Email</div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <div
                  class="w-[140px] text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ item.user?.name }}
                </div>
              </td>
              <td>
                <div
                  class="w-24 text-center text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ item?.taxpayerType }}
                </div>
              </td>
              <td>
                <div
                  class="w-16 text-center text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ item?.code }}
                </div>
              </td>
              <td>
                <p class="w-16 text-center text-xs font-normal">
                  {{ item?.tipDoc }}
                </p>
              </td>
              <td>
                <p class="text-center text-sm font-normal">
                  {{ item?.docIde }}
                </p>
              </td>
              <td>
                <div
                  class="w-32 text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                  tooltipPosition="top"
                  tooltipStyleClass="text-xs !p-0.5"
                  [pTooltip]="item?.taxpayerName"
                >
                  {{ item?.taxpayerName }}
                </div>
              </td>
              <td>
                <div class="text-sm text-center">
                  {{ item?.segment }}
                </div>
              </td>
              <td>
                <div class="text-sm text-center">{{ item?.profile }}</div>
              </td>
              <td>
                <div class="text-sm text-end">
                  {{ item?.debt | currency }}
                </div>
              </td>
              <td>
                <p class="text-sm font-normal">
                  {{ getPhoneContacts(item.citizenContacts)?.[0]?.value || "-" }}
                </p>
              </td>
              <td>
                <p class="text-sm font-normal">
                  {{  getPhoneContacts(item.citizenContacts)?.[1]?.value || "-" }}
                </p>
              </td>
              <td>
                <p class="text-sm font-normal">
                  {{  getPhoneContacts(item.citizenContacts)?.[2]?.value || "-" }}
                </p>
              </td>
              <td>
                <p class="text-sm font-normal">
                  {{ getPhoneContacts(item.citizenContacts)?.[3]?.value || "-" }}
                </p>
              </td>
              <td>
                <div class="text-sm text-center">
                  {{ getWhatsappContacts(item.citizenContacts)?.[0]?.value || "-" }}
                </div>
              </td>
              <td>
                <div class="text-sm text-center">
                  {{ getEmailContacts(item.citizenContacts)?.[0]?.value || '-' }}
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #emptymessage>
            <tr>
              <td colspan="100">
                <div class="text-center text-sm font-light p-4">
                  No tienes asignaciones en la cartera seleccionada.
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #footer>
            <tr>
              <td colspan="100">
                <div class="flex justify-center items-center">
                  <sat-paginator
                    [totalItems]="totalItems"
                    [limit]="limit()"
                    [offset]="offset()"
                    [limitOptions]="[10, 25, 50, 100]"
                    (pageChange)="onPageChange($event)"
                  />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-fieldset>
    <!-- Botones -->
    <div class="pt-3 flex justify-end space-x-2">
      <button-cancel (click)="onCancel()" />
      <button-save
        [label]="id ? 'Actualizar' : 'Guardar'"
        [loading]="loading"
        [disabled]="formData.invalid"
        (click)="onSubmit()"
      />
    </div>
  </form>
</div>
