<!-- <section class="w-full max-h-full flex flex-col gap-4">
  <header class="w-full h-[104px] gap-2">
    <p-card card.body.padding="0px" [styleClass]="'w-full h-full max-h-full gap-2 padding-card-modified'">
      <div class="w-full h-full inline-flex gap-2">
        @for (channel of CHANNEL_BUTTONS; track channel.label) {
          <app-button-channel
            [className]="'grow-1 '"
            [label]="channel.label"
            [icon]="channel.icon"
            (channelSelected)="navigateInChannels(channel.key)"
            [activeGradientClass]="channel.activeGradientClass"
            [activeHoverColor]="channel.activeHoverColor"
            [activeBackgroundColor]="channel.activeBackgroundColor"
            [activeTextColor]="channel.activeTextColor"
            [textColor]="channel.textColor"
            [selected]="channel.selected"
            [hoverColor]="channel.hoverColor"
            [isGradient]="channel.isGradient"
            [gradientClass]="channel.gradientClass || ''"
          />
        }
         <div class="grow-1 h-full flex items-center justify-center hover:bg-sky-50 duration-200 ease-in cursor-pointer">
          <img class="object-cover w-auto h-6" src="https://www.sat.gob.pe/websitev9/portals/0/Imagenes/CanalesAtencion/Logo_ChatSAT.png?ver=2023-05-16-174429-450" alt="">
        </div>
      </div>
    </p-card>
  </header>

  <section class="w-full h-[calc(100% - 104px)] grow-1 gap-4 flex overflow-hidden">
    <aside class="max-w-[20em] max-h-full flex flex-col overflow-auto hide-scrollbar">
      <app-chat-list></app-chat-list>
    </aside>

    <div class="grow-8 max-h-full overflow-hidden">
        <app-chat-message-manager></app-chat-message-manager>
    </div>
    <aside class="grow-1 min-w-[20rem] max-h-full overflow-auto hide-scrollbar bg-amber-200">
        <app-citizen-information></app-citizen-information>
    </aside>
  </section>
</section> -->
<section
  class="w-full h-full flex flex-col gap-4 overflow-y-auto"
>
  <!-- Header con altura fija -->
  <header class="w-full h-auto shrink-0">
    <p-card
      card.body.padding="0px"
      [styleClass]="'w-full h-full gap-2 padding-card-modified !bg-terciario !rounded-[30px] overflow-visible'"
    >
      <div class="w-full h-full inline-flex gap-2">
        @for (channel of CHANNEL_BUTTONS; track channel.label) {
        <app-button-channel
          [className]="'flex-1'"
          [label]="channel.label"
          [icon]="channel.icon"
          [image]="channel.image"
          (channelSelected)="navigateInChannels(channel.key)"
          [activeGradientClass]="channel.activeGradientClass"
          [activeHoverColor]="channel.activeHoverColor"
          [activeBackgroundColor]="channel.activeBackgroundColor"
          [activeTextColor]="channel.activeTextColor"
          [textColor]="channel.textColor"
          [selected]="channel.selected"
          [hoverColor]="channel.hoverColor"
          [isGradient]="channel.isGradient"
          [gradientClass]="channel.gradientClass || ''"
        />
        }
        <!-- <div (click)="navigateInChannels('chatsat')" class="grow-1 h-full flex items-center justify-center hover:bg-sky-50 duration-200 ease-in cursor-pointer">
          <img class="object-cover w-auto h-6" src="https://www.sat.gob.pe/websitev9/portals/0/Imagenes/CanalesAtencion/Logo_ChatSAT.png?ver=2023-05-16-174429-450" alt="">
        </div> -->
      </div>
    </p-card>
  </header>

  <section
    class="w-full h-[calc(100%-80px)] flex flex-col lg:flex-row gap-4 overflow-y-auto lg:overflow-hidden"
  >
    <aside class="w-full  lg:w-100 h-full flex-none overflow-hidden">
      <app-chat-list></app-chat-list>
    </aside>

    <div class="flex-1 min-w-0 h-full overflow-hidden">
      <app-chat-message-manager></app-chat-message-manager>
    </div>

    <aside class="w-90 h-full overflow-hidden hidden 2xl:block">
      <app-citizen-information></app-citizen-information>
    </aside>
  </section>
</section>
