<div class="grid grid-cols-1 gap-4">
  <h5 class="font-bold text-xl">Canal de Correo Electrónico</h5>
  <p class="font-normal text-sm text-gray-600">
    Integra tu correo electrónico para enviar y recibir mensajes desde tu
    bandeja de entrada.
  </p>

  <div class="grid grid-cols-1 gap-2">
    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1"
        >Nombre del canal</label
      >
      <input
        [(ngModel)]="name"
        class="p-inputtext p-component w-full"
        pInputText
        
      />
    </div>
    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1"
        >Correo</label
      >
      <input
        [(ngModel)]="email"
        type="email"
        placeholder="ejemplo@gmail.com"
        class="p-inputtext p-component w-full"
        pInputText
      />
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1"
        >Client ID</label
      >
      <textarea
        rows="3"
        cols="30"
        pTextarea
        [(ngModel)]="clientId"
        class="w-full"
      ></textarea>
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1"
        >Client Secret</label
      >
      <input
        [(ngModel)]="clientSecret"
        type="text"
        placeholder="Tu Client Secret"
        class="p-inputtext p-component w-full"
        pInputText
      />
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1"
        >Topic Name</label
      >
      <input
        [(ngModel)]="topicName"
        type="text"
        placeholder="email-notifications"
        class="p-inputtext p-component w-full"
        pInputText
      />
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-700 mb-1"
        >Project ID</label
      >
      <input
        [(ngModel)]="projectId"
        type="text"
        placeholder="tu-proyecto"
        class="p-inputtext p-component w-full"
        pInputText
      />
    </div>
  </div>
  <div class="flex gap-2 justify-end">
    <!-- <button-cancel (click)="onCancel()" />
    <button-save
      [label]="id ? 'Actualizar canal de correo' : 'Crear canal de correo'"
      icon="material-symbols:mail-lock-outline"
      [disabled]="invalid"
      (click)="createCredential()"
    />
    -->
    
    <button
			pButton
			type="button"
      (click)="onCancel()"
			class="
			bg-cuaternario
			!text-black
			hover:!bg-[red]
      hover:!border-[red]
			hover:!text-white
			!rounded-full
			transition-all
			duration-200
			flex
			items-center
			gap-2
			px-4
			py-2"
        >
          <iconify-icon
            icon="lucide:ban"
            class="text-lg text-inherit"
          ></iconify-icon>

          <span class="font-medium">
            Cancelar
          </span>
		</button>

    <button
			pButton
			type="button"
			[label]="id ? 'Actualizar canal de correo' : 'Crear canal de correo'"
      [disabled]="invalid"
      (click)="createCredential()"
			class="
			bg-cuaternario
			!text-black
			hover:bg-accent-7
			hover:!text-white
			!rounded-full
			transition-all
			duration-200
			flex
			items-center
			gap-2
			px-4
			py-2"
        >
          <iconify-icon
            icon="material-symbols:mail-lock-outline"
            class="text-lg text-inherit"
          ></iconify-icon>

		</button>
  </div>
</div>
