<p-dialog
  [modal]="true"
  [header]="header"
  [(visible)]="visible"
  (onHide)="onClose()"
  styleClass="modal-lg"
>
  <div class="">Asesor: {{ this.item.user?.name }}</div>
  <div class="text-sm text-gray-500 italic mb-4">
    Controla y supervisa la grabación de la llamada actual
  </div>
  <div class="flex items-center gap-x-4 mb-3">
    <iconify-icon [icon]="'mdi:phone'" class="text-xl" />
    <label for="title" class="whitespace-nowrap font-bold"
      >LLamada Activa:</label
    >
    <label>{{ item.phoneNumber }}</label>
  </div>
  <div class="flex items-center gap-x-4 mb-3">
    <iconify-icon [icon]="'mdi:clock'" class="text-xl" />
    <label for="title" class="whitespace-nowrap font-bold">Duración:</label>
    <label>{{
      item.inCall
        ? (item.lastCall.entryDate | timeElapsed)
        : (item.duration | duration)
    }}</label>
  </div>
  <div class="flex items-center gap-x-4 mb-3">
    <iconify-icon [icon]="'mdi:microphone'" class="text-xl" />
    <label for="title" class="whitespace-nowrap font-bold"
      >Grabación Vicidial:</label
    >
    @if (active) {
    <label>Activa</label>
    } @else{
    <label>Inactiva</label>
    }
  </div>
  <div class="text-sm text-gray-500 italic mb-4">
    La grabación estara disponible en llamadas finalizadas al terminar la
    llamada
  </div>
  <div class="flex justify-end gap-2 mt-4">
    <button
      pButton
      type="button"
      label="Iniciar Grabación"
      (click)="recording()"
      class="p-button-outlined"
    >
      <iconify-icon [icon]="'mdi:play'" class="text-xl" />
    </button>
  </div>
</p-dialog>
